<div class="" style="height: 200px;">
    <div class="bg-light shadow rounded overflow-hidden card border-0" >
        <% if(user.coverPhoto) { %> 
        <div class="px-4 pt-0 pb-4 cover" style="background-image: url('<%=user.coverPhoto.path%>'); height: 130px">
        <% } else {%> 
        <div class="px-4 pt-0 pb-4 cover" style="background-color: <%=user.coverColor%>; height: 130px">
        <% } %> 
            <div class="media align-items-end">
                <div class="mr-3">
                    <img src="<%=user.avatar.path%>" alt="" width="120" height="120" class="rounded-circle my-3 img-fluid img-thumbnail" style="transform: translateY(2.3rem)">
                </div>
                <div class="text-black pb-3 ml-2">
                    <h5 class="mb-1 px-2 font-weight-bold" style="background-color: rgba(255,255,255, .6);"><a href="/u/<%=user.username%>" class="text-decoration-none text-dark stretched-link"><%=user.displayName%></a></h5>
                    <p class="my-1 px-2 font-weight-bold" style="background-color: rgba(255,255,255, .6);"> @<%=user.username%></p>
                    <p class="small px-2 py-1 mt-1 font-weight-bold" style="background-color: rgba(255,255,255, .6);"><i class="fas fa-map-marker-alt text-primary mr-1"></i>  <img class="mr-1" title="<%=user.country.name %>" src="<%=user.country.flag%>" width="17px"><%=user.country.name %></p>
                </div>
            </div>
        </div>
        <div class="bg-light text-dark py-3 pr-3 pl-0 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block"><%=user.posts.length%></h5><small class="text-muted">Ratings</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block"><%=user.comments.length%></h5><small class="text-muted">Comments</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block"><%=user.postStreak%></h5><small class="text-muted">Streak</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block"><%=user.average%></h5><small class="text-muted">Avg. Rating</small>
                    </li>
                </ul>
        </div>
    </div>
</div>