<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-warning">
  <div class="container-fluid">
    <a class="navbar-brand font-weight-bold logo" href="/">todai</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if(currentUser) {  %> 
          <a class="nav-link" href="/posts/today"><i class="fas fa-home"></i> home</a>
          <a class="nav-link" href="#"><i class="far fa-chart-bar"></i> data</a>
          <a class="nav-link" href="/write"><i class="fas fa-pencil-alt"></i> write</a>
          <% if(currentUser.postedToday === false) {%> 
          <a class="nav-link" href="" data-toggle="modal" id="newPostLink" data-target="#newPostModal"><i class="far fa-star"></i> rate today</a>
          <% } else {%>
          <a href="/posts/<%=currentUser.todaysPost%>" class="nav-link"><i class="far fa-calendar-check"></i> my rating</a>
          <% } %>
        <% } %> 
      </div>
      <div class="navbar-nav ml-auto mr-2">
      <% if(!currentUser) {  %> 
        <!-- <form action="/" method="POST" class="form-inline" novalidate>
          <div class="">
            <label class="d-inline" for="username"></label>
            <input type="text" class="form-control" placeholder="username" name="username" aria-label="Username" required>
            <label class="d-inline" for="password"></label>
            <input type="password" class="form-control" placeholder="password" name="password" aria-label="Password" required>
            <button class="btn btn-link p-0" type="submit"><a class="nav-link text-decoration-none">login</a></button>
          </div>
        </form> -->
        <button class="btn btn-link p-0"><a class="nav-link text-decoration-none" href="/login">login</a></button>
        <button class="btn btn-link p-0"><a class="nav-link text-decoration-none" href="/register">sign up</a></button>
      <% } else { %> 
        <form class="form-inline mr-3">
          <input class="form-control mr-sm-2" type="search" placeholder="Search todai..." style="height: 30px" aria-label="Search">
          <button class="btn btn-sm btn-outline-dark my-2 my-sm-0" style="height: 30px" type="submit">Search</button>
        </form>
      <li class="nav-item dropdown mr-auto">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/u/<%=currentUser.username%>" role="button" aria-haspopup="true" aria-expanded="false"> <img class="p-0" src="<%=currentUser.avatar.thumbnail%>" style= "width: 30px; border-radius: 50%;"alt=""></a>
        <div class="dropdown-menu" style="min-width: 5rem">
          <a class="dropdown-item p-2" href="/u/<%=currentUser.username%>"><i class="fas fa-user text-warning"></i> profile</a>
          <a class="dropdown-item p-2" href="/write"><i class="fas fa-pencil-alt text-warning"></i> write</a>
          <a class="dropdown-item p-2" href="/settings"><i class="fas fa-cog text-warning"></i> settings</a>
          <a class="dropdown-item p-2" href="/logout"><i class="fas fa-sign-out-alt text-warning"></i> logout</a>
          <!-- <form action="/u/<%=currentUser.username%>/delete?_method=DELETE" method="POST" class="d-inline">
            <button class="btn btn-sm btn-link text-decoration-none text-dark" type="submit" title="Delete"><i class="far fa-times-circle text-danger mr-2"></i>Delete Account</button>
          </form> -->
        </div>
      </li>
      <% }  %>
      </div>
      </div>
    </div>
  </div>
</nav>

<%- include('../partials/new')%>
