<div class="card my-3 pt-2 pl-2 pr-2 border-0 shadow-sm">
    <div class="media pr-3">
        <a href="/u/<%=post.author.username%>" style="z-index: 2;"><img class="img-fluid rounded-circle mr-2" style="width:45px;" src="<%=post.author.avatar.profile%>" class="pr-2" alt="" title="<%=post.author.bio%>"></a>
        <div class="media-body text-wrap">
            <div class="d-flex justify-content-between mt-2">
                <p class="card-subtitle mb-1 d-inline" style="z-index: 2;"><strong><a href="/u/<%=post.author.username%>"><%=post.author.displayName%></a></strong>  <img class="d-inline" style="width: 17px;" src="<%=post.author.country.flag%>" title="<%=post.author.country.name%>" alt=""><small class="text-muted mb-1 d-block">@<%=post.author.username%></small></p>
                <% if(currentUser && post.author.equals(user._id)) { %> 
                    <div class="btn-group dropleft" style="z-index: 2;">
                        <button class="btn btn-sm text-dark mb-1 pb-1 bg-light rounded-circle" data-toggle="dropdown" style="height: 30px; width: 30px" title="More" >...</button>
                        <div class="dropdown-menu" >
                        <% if(within24Hours(post) === true) { %>
                            <!-- modal buttons specific to user profile page-->
                            <% if(title === `@${currentUser.username} / t'day`) { %> 
                                <% if(post.date == getToday(currentUser.timezone)) {  %>
                            <a href="" data-toggle="modal" id="editTodayPostLink" data-target="#editTodayPostModal" class="dropdown-item pl-2  text-primary"><i class="fas fa-edit text-warning"></i> Edit</a>
                                <% } else {%> 
                            <a href="" data-toggle="modal" id="editYesterdayPostLink" data-target="#editYesterdayPostModal" class="dropdown-item pl-2 text-primary"><i class="fas fa-edit text-warning"></i> Edit</a>
                                <% } %> 
                            <%} else {%>  
                        <!-- general edit modal button -->
                            <a href="" data-toggle="modal" id="editPostLink" data-target="#editPostModal" class=" dropdown-item pl-2 text-primary"><i class="fas fa-edit text-warning"></i> Edit</a>
                            <% } %>
                            <% } else {%> 
                            <a class=" pl-2 disabled text-decoration-none text-muted" data-toggle="tooltip" data-placement="bottom" title="This rating was posted over 24 hours ago and can no longer be edited.
                            " disabled><i class="fas fa-edit" ></i> Edit</a>   
                            <% } %> 
                            <a href="" class="dropdown-item pl-2 text-primary" data-toggle="modal" data-target="#deleteModal-<%=post._id%>"><i class="fas fa-trash-alt text-danger mr-2" ></i>Delete</a>
                        </div>
                    </div>
                    <% } %>
            </div>
            <% if((title === "Home / t'day") || (title === `${user.username}'s day / t'day`)) {%> 
            <p class="mb-0" title="<%=post.rating%> - <%=post.desc%>" style="z-index: 3;"><span class="star star<%=post.rating%>-result p-0 m-0" style="z-index: 3;"></span></p>
            <% } else { %> 
            <span class="badge badge-light mb-2" style="font-size: 13px; z-index: 3;" title="<%=post.rating%> - <%=post.desc%>"><%=post.date%>: <span class="star star<%=post.rating%>-result" style="z-index: 2;"></span></span>  
            <%}%>
            <div class="text-wrap">
                <p class="mb-0" style="white-space: pre-line;"><%=post.body%></p>
            </div>
            <% if(post.image) { %> 
                <div class="d-flex justify-content-center" style="z-index: 2;">
                    <a href="" data-toggle="modal" id ="imagePreviewLink-<%=post._id%>" data-target="#imagePreviewModal-<%=post._id%>" style="z-index: 2;">
                        <img class="img-fluid" src="<%=post.image.path%>" alt="">
                    </a>
                </div>
                <%- include('../partials/posts/imagePreview')%>
            <% } %> 
            <div class="d-flex justify-content-between mt-2">
                <div>
                    <small class="pb-1"><a href="/posts/<%=post._id%>" class="card-link" title="<%=post.createdAt%>"><%=new Date(post.createdAt).toLocaleString()%></a></small>
                    <% if(post.edited){ %>
                    <small class="pb-1 text-muted" title="<%=post.updatedAt%>">Edited</small>
                    <% } %>
                </div>
                <div class="d-flex justify-content-around">
                    <a href="/posts/<%=post._id%>" class="text-decoration-none p-0" title="Comments"><span class="text-muted" style="font-size: 13px;"><%=post.comments.length%></span> <i class="fas fa-comments text-primary"></i></a>  
                    <a  class="copy btn btn-sm btn-link p-0 mx-2" role="button"  title="Copy link" ><i class="fas fa-link text-warning" onclick="navigator.clipboard.writeText(window.location.origin+'/posts/<%=post._id%>')"></i></a>
                    <% if(currentUser.bookmarks.includes(post._id)) { %>
                        <% if(title === `@${currentUser.username} / t'day`) { %> 
                            <a href="/u/<%=currentUser.username%>#nav-bookmarks">
                            <i class="fas fa-bookmark text-danger small"></i>
                            </a>
                        <% } else {%> 
                        <button id="bookmarked" class="btn btn-sm btn-link p-0" title="Remove bookmark" data-toggle="modal" data-target="#bookmarkDeleteModal-<%=post._id%>"><i class="fas fa-bookmark text-danger"></i></button>
                        <%- include("../partials/confirmDeleteModals/bookmark") %>
                        <% } %> 
                    <%} else { %> 
                    <form action="/posts/<%=post._id%>/bookmark" method="POST" class="d-inline p-0">
                        <button class="btn btn-sm btn-link p-0" title="Bookmark"><i class="far fa-bookmark text-danger"></i></button>
                    </form>
                    <% } %> 
                </div>
            </div>
        </div>
    </div>
    <%- include("../partials/confirmDeleteModals/post") %>
    <hr class="my-1">
    <div class="media mt-1 mb-1 pl-2">
        <a class="mr-1" href="/u/<%=currentUser.username%>">
        <img src="<%=currentUser.avatar.profile%>" alt="" class="img-fluid rounded-circle" style="width:35px;">
        </a>
        <div class="media-body mb-1">
            <form action="/posts/<%=post._id %>/comments" class="validated-form mr-2" method="POST" novalidate>
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-0" name="comment[body]" id="body" cols="15" rows="1" placeholder="Write a comment..." required>
                    <div class="input-group-append" id="">
                        <button class="btn btn-warning" type="submit">Post</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("../partials/toasts/copyToast") %>

<%- include("../partials/userProfile/modals/editTodayAndYesterday") %>
