<div class="card my-3 pt-2 pl-2 pr-2 border-0 shadow-sm">
    <div class="media pr-3">
        <a href="/u/<%=post.author.username%>"><img style="width:45px; border-radius: 50%" src="<%=post.author.avatar.thumbnail%>" class="pr-2" alt=""></a>
        <div class="media-body text-wrap">
            <div class="d-flex justify-content-between mt-2">
                <p class="card-subtitle mb-1 d-inline"><strong><a href="/u/<%=post.author.username%>"><%=post.author.displayName%></a></strong>  <img class="d-inline" style="width: 17px" src="<%=post.author.country.flag%>" title="<%=post.author.country.name%>" alt=""><small class="text-muted mb-1 d-block">@<%=post.author.username%></small></p>
                
                <% if(currentUser && post.author.equals(user._id)) { %> 
                    <div class="btn-group" title="More" >
                        <button class="btn btn-sm text-dark mb-1 pb-1 bg-light rounded-circle" data-toggle="dropdown" style="height: 30px; width: 30px">...</button>
                        <div class="dropdown-menu dropdown-menu-lg-right">
                            <% if(within24Hours(post) === true) { %>
                                <!-- modal buttons specific to user profile page-->
                                <% if(title.includes("@")) { %> 
                                    <% if(post.date == getToday()) {  %>
                                        <button class="dropdown-item pl-2"><a href="" data-toggle="modal" id="editTodayPostLink" data-target="#editTodayPostModal" class="text-decoration-none"><i class="fas fa-edit text-warning"></i> Edit</a></button>
                                        <% } else {%> 
                                        <button class="dropdown-item pl-2"><a href="" data-toggle="modal" id="editYesterdayPostLink" data-target="#editYesterdayPostModal" class="text-decoration-none"><i class="fas fa-edit text-warning"></i> Edit</a></button>
                                        <% } %> 
                                 <%} else {%>  
                                    <!-- general edit modal button -->
                                <button class="dropdown-item pl-2"><a href="" data-toggle="modal" id="editPostLink" data-target="#editPostModal" class="text-decoration-none"><i class="fas fa-edit text-warning"></i> Edit</a></button>
                            <% } }%> 
                            <button class="dropdown-item pl-2 text-primary " data-toggle="modal" data-target="#deleteModal-<%=post._id%>"><a><i class="fas fa-trash-alt text-danger"></i><span class="text-light">_</span>Delete</a></button>
                        </div>
                    </div>
                    <% } %>

            </div>
            <% if((title === "Home / todei") || (title === `${user.username}'s day / todei`)) {%> 
            <p class="mb-0"><span class="star star<%=post.rating%>-result"></span></p>
            <% } else { %> 
            <span class="badge badge-light mb-2" style="font-size: 13px"><%=post.date%>: <span class="star star<%=post.rating%>-result"></span></span>  
            <%}%>
            <div class="text-wrap">
                <p class="mb-0"><%=post.body%></p>
            </div>
            <% if(post.image) { %> 
                <a href="" data-toggle="modal" id ="imagePreviewLink-<%=post._id%>" data-target="#imagePreviewModal-<%=post._id%>">
                    <img class="img-fluid" src="<%=post.image.fullsize%>" alt="">
                </a>
                <%- include('../partials/posts/imagePreview')%>
            <% } %> 
            <div class="d-flex justify-content-between">
                <div>
                    <small class="pb-1"><a href="/posts/<%=post._id%>" class="card-link"><%=post.timestamp%></a></small>
                    <% if(post.edited){ %>
                    <small class="pb-1 text-muted" title="<%=post.updatedAt%>">Edited</small>
                    <% } %>
                </div>
                <div>
                    <a href="/posts/<%=post._id%>" class="text-decoration-none mr-2 p-0" title="Comments"><span class="text-muted" style="font-size: 13px;"><%=post.comments.length%></span> <i class="fas fa-comments text-primary"></i></a>  

                    <a  class="copy btn btn-sm btn-link " role="button"  title="Copy link"  ><i class="fas fa-link text-warning mr-2" onclick="navigator.clipboard.writeText(window.location.href.slice(0,21)+'/posts/<%=post._id%>')"></i></a>

                    <% if(currentUser.bookmarks.includes(post._id)) { %>
                        <% if(title === `@${currentUser.username} / todei`) { %> 
                            <a href="/u/<%=currentUser.username%>#nav-bookmarks">
                            <i class="fas fa-bookmark text-danger small"></i>
                            </a>
                        <% } else {%> 
                        <button id="bookmarked" class="btn btn-sm btn-link" title="Remove bookmark" data-toggle="modal" data-target="#bookmarkDeleteModal-<%=post._id%>"><i class="fas fa-bookmark text-danger"></i></button>
                        <%- include("../partials/confirmDeleteModals/bookmark") %>
                        <% } %> 
                    <%} else { %> 
                    <form action="/posts/<%=post._id%>/bookmark" method="POST" class="d-inline">
                        <button class="btn btn-sm btn-link" title="Bookmark"><i class="far fa-bookmark text-danger mr-2"></i></button>
                    </form>
                    <% } %> 
                </div>
            </div>
        </div>
    </div>
    <%- include("../partials/confirmDeleteModals/post") %>
    <hr class="my-1">
    <div class="media mt-1 mb-1 pl-2">
        <a class="mr-1" href="/u/<%=currentUser.username%>">
        <img src="<%=currentUser.avatar.thumbnail%>" alt="" class="border" style="width:40px; border-radius: 50%">
        </a>
        <div class="media-body mb-1">
            <form action="/posts/<%=post._id %>/comments" class="validated-form mr-2" method="POST" novalidate>
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-0" name="comment[body]" id="body" cols="15" rows="1" placeholder="Write a comment..." required>
                    <div class="input-group-append" id="">
                        <button class="btn btn-warning" type="submit">Post</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("../partials/toasts/copyToast") %>
