<div class="d-flex flex-column">
    <%- include("../partials/sidebars/right/userPreview") %>
    <%- include("../partials/sidebars/right/todaysRating") %>
    <%- include("../partials/sidebars/right/myWeek") %>
    <%- include("../partials/sidebars/right/donateLinks") %>
    <%- include("../partials/sidebars/right/footer") %>
</div>

