<div class="w-100">
    <div class="container d-flex justify-content-center align-items-center px-0">
        <div class="card rounded border-0 shadow-sm bg-light w-100">
            <% if(user.coverPhoto) { %> 
            <!-- <div class="upper" style="background-image: url('<%=user.coverPhoto.profile%>');"></div> -->
            <img id="profilePreviewCover" height= 150px class="card-img-top" src="<%=user.coverPhoto.profile%>" alt="">
            <% } else { %> 
            <div class="upper bg-dark" height="150px"></div>
            <% } %> 
            <div class="user text-center">
                <div class="profile"> <img src="<%=user.avatar.profile%>" class="rounded-circle"></div>
            </div>
            <div class="mt-5 text-center">
                <h4 class="mb-0 font-weight-light"><%=user.displayName%></h4>
                <span class="d-block">@<%=user.username%></span>
                <span class="text-muted d-block mb-2">
                    <img class="mr-1" title="<%=user.country.name %>" src="<%=user.country.flag%>" width="17px"><%=user.country.name %>
                </span> 
                <div class="d-flex justify-content-around align-items-center mt-2 mb-2 px-1">
                    <div class="stats">
                        <h5 class=" mb-0 d-block"><%=user.posts.length%></h5><small class="text-muted">Ratings</small>
                    </div>
                    <div class="stats">
                        <h5 class="mb-0 d-block"><%=user.comments.length%></h5><small class="text-muted">Comments</small>
                    </div>
                    <div class="stats">
                        <h5 class="mb-0 d-block"><%=user.postStreak%></h5><small class="text-muted">Streak</small>
                    </div>
                    <div class="stats">
                        <h5 class="mb-0 d-block"><%=user.average%></h5><small class="text-muted">Avg. Rating</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light shadow-sm rounded mb-3 mt-3 p-3">
        <% if(user.postedToday === true && user.todaysPost.length) {%> 
            <h6 class="font-weight-bold mb-0 pb-0">
                <a href="/posts/<%=todaysPost._id%>" class="text-decoration-none">
                    Today's Rating: <span class="badge badge-light mb-2" style="font-size: 13px"><span class="star star<%=todaysPost.rating%>-result"></span></span>  
                </a>
            </h6>
        <% } else { %> 
            <div class="card my-2 border-0">
                <div class="card-body pb-2">
                    <form action="/posts" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                        <h6 class="font-weight-bold">How's your <span id="dayOfTheWeek">day</span>?</h6>
                        <div class="">
                            <label class=""for="post[rating]"></label>
                            <fieldset class="rating d-block">
                            <input type="radio" id="star5-new" name="post[rating]" value=5 /><label class = "" for="star5-new" title="Amazing"></label>
                            <input type="radio" id="star4-new" name="post[rating]" value=4 /><label class = "" for="star4-new" title="Very good"></label>
                            <input type="radio" id="star3-new" name="post[rating]" value=3 /><label class = "" for="star3-new" title="Average"></label>
                            <input type="radio" id="star2-new" name="post[rating]" value=2 /><label class = "" for="star2-new" title="Not good"></label>
                            <input type="radio" id="star1-new" name="post[rating]" value=1 /><label class = "" for="star1-new" title="Terrible"></label>
                            </fieldset>
                            <div class="valid-feedback"></div>
                        </div>  
                        <input hidden class="postDate" type="text" name="post[date]" value="">
                        <div class="">
                            <label class="form-label mt-0" for="body">Jot down your thoughts or post an image:</label>
                            <textarea class="form-control border-0 bg-light" rows="5"cols="10" type="text" name="post[body]"></textarea>
                            <div class="valid-feedback"></div>
                        </div>    
                        <div class="custom-file mt-3 ">
                            <input type="file" class="custom-file-input " id="image" name="image" onchange="document.getElementById('preview').src = window.URL.createObjectURL(this.files[0])">
                            <label class="custom-file-label border-sm" for="image">Choose image...</label>
                        </div>
                        <img class="img-fluid my-2" id="preview" width="100px"/> 
                        <div class="mb-3 clearfix">
                            <button class="btn btn-warning float-right">Submit</button>
                        </div>
                    </form>
                </div>
            </div>                      
        <% } %> 
    </div>
    <div class="bg-light shadow-sm rounded mb-3 p-2">
        <div class="card my-2 border-0">
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;" width="100%" height="350" src="https://charts.mongodb.com/charts-todai-fevei/embed/charts?id=3e56620a-ac24-464e-9793-3f5065281e6f&maxDataAge=60&autoRefresh=true&theme=light&filter={'authorID':'<%=user._id%>'}"></iframe>
        </div>
    </div>
    <div class="bg-light shadow-sm rounded p-3 mb-2">
        <div class="card my-2 border-0">
            <div class="card-body ">
                <h6 class="font-weight-bold">Support <span class="text-warning logo">t'day</span></h6>
                <small class="d-block">We are 100% funded by our users. If you <i class="fas fa-heart text-danger"></i> us, please consider making a donation to cover our operational expenses.</small>
                <a href="/donate" class="donate btn btn-sm btn-warning mt-2" role="button">Donate</a>
                <small class="d-block mt-2">Or, support us on Patreon! <span class="text-muted small">(Coming soon)</span></small>
                <a href="" class="donate btn btn-sm btn-danger mt-2 border-0" role="button">Become a Patron <i class="fas fa-external-link-alt small"></i></a>
            </div>
        </div>
    </div>
    
    <%- include("toasts/donateToast") %>
    <%- include("../partials/sidebars/right/footer") %>
</div>
