

<form action="/posts/search" method="GET">
    <h4 class="mt-4">Search</h4>
    <fieldset>
        <label for="search">Text search</label>
        <input type="text" id="textSearch" placeholder="Search" name="textSearch" value="<%=query.textSearch%>">
    </fieldset>

    <fieldset>
        <label for="search">Username</label>
        <input type="text" id="usernameSearch" placeholder="Search" name="usernameSearch" value="<%=query.usernameSearch%>">
        <small class="text-muted">Hint: exclude @</small>
    </fieldset>

    <fieldset>
        <label for="search">Date</label>
        <input type="text" id="dateSearch" placeholder="Search" name="dateSearch" value="<%=query.dateSearch%>">
        <small class="text-muted">Hint: use "Mon D, YYYY" format. (For example: "Oct 3, 2021") </small>
    </fieldset>

    <fieldset>
        <label class="form-label mb-0" for="country">Country</label>
        <select class="custom-select" id="countryName" name="country" >
            <option value="">─Please select an option─</option> 
            <%  for (let country of countries) {%>
                <option value="<%=country["name"]%>" ><%=country["name"]%></option>
            <%}%>        
        </select>
    </fieldset> 

    <div class="form-check form-check-inline">
		<legend>Rating</legend>
		<input type="checkbox" id="one-star" name="rating[]" value="1" <%= query.rating && query.rating.includes('1') ? 'checked' : '' %> class="form-check-input">
		<label for="one-star" class="star form-check-label">★</label><br>
		<input type="checkbox" id="two-stars" name="rating[]" value="2" <%= query.rating && query.rating.includes('2') ? 'checked' : '' %> class="form-check-input">
		<label for="two-stars" class="star form-check-label">★★</label><br>
		<input type="checkbox" id="three-stars" name="rating[]" value="3" <%= query.rating && query.rating.includes('3') ? 'checked' : '' %> class="form-check-input">
		<label for="three-stars" class="star form-check-label">★★★</label><br>
		<input type="checkbox" id="four-stars" name="rating[]" value="4" <%= query.rating && query.rating.includes('4') ? 'checked' : '' %> class="form-check-input">
		<label for="four-stars" class="star form-check-label">★★★★</label><br>
		<input type="checkbox" id="five-stars" name="rating[]" value="5" <%= query.rating && query.rating.includes('5') ? 'checked' : '' %> class="form-check-input">
		<label for="five-stars" class="star form-check-label">★★★★★</label>
	</div>
    <button class="btn btn-sm btn-warning" type="submit" >Submit</button>
</form>


