<form action="/posts/search" method="GET" id="searchFilterForm" class="p-3 bg-light rounded shadow-sm">
    <div class="input-group mb-3">
        <div class="input-group-prepend border-right">
          <span class="input-group-text border-0" id="search-addon"><i class="fas fa-search text-primary"></i></span>
        </div>
        <input type="text" class="form-control border-0" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" id="text" name="text" value="<%=query.text%>" required >
      </div>
      <h5 class="">Filter</h5>
    <div class="input-group mb-3 text-muted">
        <div class="input-group-prepend border-right">
            <label class="input-group-text text-muted border-0" for="date"><i class="far fa-calendar-alt text-primary"></i></label>
        </div>
        <input type="date" class="form-control border-0" id="date" placeholder="Date" name="date" value="<%=query.date%>" max="<%=new Date()%>">
     </div>
    <div class="input-group mb-3 border-0">
        <div class="input-group-prepend border-right">
          <label class="input-group-text border-0" for="countryName"><i class="fas fa-globe text-primary"></i></label>
        </div>
        <select class="custom-select border-0 text-muted" id="countryName" name="country" >
            <option value="" class="text-muted">Country</option> 
            <%  for (let country of countries) {%>
                <option value="<%=country["name"]%>" <%= query.country && query.country.includes(country["name"]) ? 'selected' : '' %>><%=country["name"]%></option>
            <%}%>        
        </select>
    </div>
    <div class="input-group mb-3 bg-white">
        <div class="input-group-prepend">
          <label class="input-group-text border-0 " id="rating-addon"><i class="far fa-star text-primary"></i></label>
        </div>
        <div>
            <p class="pl-2 pt-2 ml-1 pb-0 mb-0 text-muted" style="font-size: 16px;">Rating</p>
            <div class="form-check ml-3 pt-1">
                <input type="checkbox" id="one-star" name="rating[]" value="1" <%= query.rating && query.rating.includes('1') ? 'checked' : '' %> class="form-check-input">
                <label for="one-star" class="star form-check-label">★</label><br>
                <input type="checkbox" id="two-stars" name="rating[]" value="2" <%= query.rating && query.rating.includes('2') ? 'checked' : '' %> class="form-check-input">
                <label for="two-stars" class="star form-check-label">★★</label><br>
                <input type="checkbox" id="three-stars" name="rating[]" value="3" <%= query.rating && query.rating.includes('3') ? 'checked' : '' %> class="form-check-input">
                <label for="three-stars" class="star form-check-label">★★★</label><br>
                <input type="checkbox" id="four-stars" name="rating[]" value="4" <%= query.rating && query.rating.includes('4') ? 'checked' : '' %> class="form-check-input">
                <label for="four-stars" class="star form-check-label">★★★★</label><br>
                <input type="checkbox" id="five-stars" name="rating[]" value="5" <%= query.rating && query.rating.includes('5') ? 'checked' : '' %> class="form-check-input">
                <label for="five-stars" class="star form-check-label">★★★★★</label>
            </div>
        </div>
    </div>
    <div class="input-group mb-3 border-0">
      <div class="input-group-prepend border-right">
        <label for="ageGroup" class="input-group-text border-0"><i class="fas fa-birthday-cake text-primary"></i></label>
      </div>
      <select class="custom-select text-muted border-0 pl-3" id="ageGroup" name="ageGroup">
        <option value="">All Ages</option>
        <option value="Greatest Generation" <%=query.ageGroup &&
           query.ageGroup=="Greatest Generation" ? 'selected' : '' %>>Greatest Generation
           (1901-1927)</option>
        <option value="Silent Generation" <%=query.ageGroup &&
           query.ageGroup=="Silent Generation" ? 'selected' : '' %>>Silent Generation
           (1928-1945)</option>
        <option value="Baby Boomers" <%=query.ageGroup && query.ageGroup=="Baby Boomers"
           ? 'selected' : '' %>>Baby Boomers (1946-1964)</option>
        <option value="Gen X" <%=query.ageGroup && query.ageGroup=="Gen X" ? 'selected' : '' %>
           >Gen X (1965-1980)</option>
        <option value="Millennials" <%=query.ageGroup && query.ageGroup=="Millennials"
           ? 'selected' : '' %>>Millennials (1981-1996)</option>
        <option value="Gen Z" <%=query.ageGroup && query.ageGroup=="Gen Z" ? 'selected' : '' %>
           >Gen Z (1997-2012)</option>
     </select>
    </div>
    <div class="input-group mb-3 border-0">
      <div class="input-group-prepend border-right">
        <label for="gender" class="input-group-text border-0"><i class="fas fa-venus-mars text-primary"></i></label>
      </div>
      <select class="custom-select text-muted border-0" id="gender" name="gender">
        <option value="">All Genders</option>
        <option value="male" <%=query.gender && query.gender=="male" ? 'selected' : '' %>>Male
        </option>
        <option value="female" <%=query.gender && query.gender=="female" ? 'selected' : '' %>
           >Female</option>
      </select>
    </div>
    <div class="input-group mb-3 bg-white">
      <div class="input-group-prepend ">
        <label class="input-group-text border-0 py-2 pr-3"><i class="fas fa-file-image text-primary"></i></label>
      </div>
      <div class="form-check form-check-inline">
        <label for="image" class="form-check-label text-muted ml-3 mr-1 ">Includes Image</label>
        <input class="form-check-input" type="checkbox" aria-label="Includes Image" name="image" <%=query.image ? 'checked' : ''%>>
      </div>
    </div>
    <button class="btn btn-sm btn-primary mb-2" type="button" onclick="window.location = window.location.href.split('?')[0]">Clear filters</button>
    <button class="btn btn-sm btn-warning float-right mb-5" type="submit" id="submit" >Submit</button>
</form>