<% layout("layouts/boilerplate")%>

<div class="container px-1">
  <div class="jumbotron my-3 py-5 shadow">
    <h1 class="display-3 mb-0">Welcome to <strong style="font-family: 'Courgette" class="text-warning">t<sup><i
      class="fas fa-feather text-primary d-inline ml-2 small"
      style="font-size: 18px; padding-bottom:2em;"></i></sup>day<sup
    style="font-size: 12px; line-height: 0; vertical-align: 20px">&copy</sup></strong>             
    <span disabled style="resize: none" class="blinking-cursor background-color-none d-none d-sm-inline-block px-0 mx-0" cols="1" row="1">|</span>
  </h1>
    <hr class="mt-0 pt-0">
    <p class="my-0"><span class="logo font-weight-bold">t'day</span> is the world's first collective online journal – Rate your day anonymously on a scale of 1-5, <br> track changes over time, and read ratings from all around the world.</p>
    <p class="mb-0 mt-3 mb-0 mr-3 font-weight-bold"> <i class="far fa-calendar-alt text-primary"></i></i> Today is: <%=longToday%></p>
    <div id="starDiv" class="d-block float-left mb-0">
      <div class="d-block wrapper p-0 m-0">
        <input name="ratingRadio" type="radio" id="st1" value="1" />
        <label for="st1" class="my-0 p-0"></label>
        <input name="ratingRadio" type="radio" id="st2" value="2" />
        <label for="st2" class="my-0 p-0"></label>
        <input name="ratingRadio" type="radio" id="st3" value="3" />
        <label for="st3" class="my-0 p-0"></label>
        <input name="ratingRadio" type="radio" id="st4" value="4" />
        <label for="st4" class="my-0 p-0"></label>
        <input name="ratingRadio" type="radio" id="st5" value="5" />
        <label for="st5" class="my-0 p-0"></label>
      </div>
    </div>
    <div id="landingButtons" class="d-block my-0">
      <a class="btn btn-warning btn mr-2 mt-0" href="/register" role="button">Register</a>
      <a class="btn btn-primary btn d-none d-lg-inline-block mt-0" href="/about" role="button">Learn more</a>
      <a class="btn btn-primary btn d-inline-block d-lg-none mt-0" href="/login" role="button">Log in</a>
    </div>
  </div>
  <div class="container mt-4">  
    <div class="row mt-4">
      <div class="col-sm mb-2 pl-0">
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="100%" height="250" src="https://charts.mongodb.com/charts-todai-fevei/embed/charts?id=dab42b0e-905e-459c-951b-6a8dde5b28ed&maxDataAge=10&autoRefresh=true&theme=light&filter={'date':'<%=today%>'}"></iframe>
      </div>
      <div class="col-sm mb-2 pr-0">
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="100%" height="250" src="https://charts.mongodb.com/charts-todai-fevei/embed/charts?id=35455c10-5c28-4885-874a-18bbeb448c97&maxDataAge=3600&filter={'date':'<%=today%>'}&theme=light&autoRefresh=true"></iframe>
      </div>
    </div>
    <section>
      <h4 class=" mt-2 mb-0 text-underline">Recent Ratings</h4>
      <p class="mt-1 mb-0">
      <span class="font-weight-bold">Anonymous</span>  <img src="<%=posts[0].author.country.flag%>" title="<%=posts[0].author.country.name%>" style="width:17px;">: 
      <span class="star star<%=posts[0].rating%>-result"></span> <span class="font-italic"><%=posts[0].body.substring(0, 100)%>...</span>
      </p>
      <p class="mb-0"> 
        <span class="font-weight-bold">Anonymous</span>  <img src="<%=posts[1].author.country.flag%>" title="<%=posts[1].author.country.name%>" style="width:17px;">:  
        <span class="star star<%=posts[1].rating%>-result"></span> <span class="font-italic"><%=posts[1].body.substring(0, 100)%>...</span>
      </p>
      <p class="mb-0"> 
        <span class="font-weight-bold">Anonymous</span>  <img src="<%=posts[2].author.country.flag%>" title="<%=posts[2].author.country.name%>" style="width:17px;">:  
        <span class="star star<%=posts[2].rating%>-result"></span> <span class="font-italic"><%=posts[2].body.substring(0, 100)%>...</span>
      </p>
    </section>
    <footer class="pt-4 my-5 mt-1 d-flex justify-content-between small">
      <div class="d-none d-lg-block">
        <a class="d-inline" href="#">About</a> <span class="small">|</span>
        <a class="d-inline" href="/privacy">Privacy Policy</a> <span class="small">|</span>
        <a class="d-inline" href="/terms">Terms of Use</a> <span class="small">|</span>
        <a class="d-inline" href="/cookies">Cookie Policy</a> <span class="small">|</span>
        <a class="d-inline" href="/contact">Contact</a>
      </div>
      <div class="text-right">
        <p class="mb-0 d-inline">© 2022 t'day |</p>
        <p class="d-inline">made with <i class="fas fa-heart text-danger"></i> by <a
            href="https://github.com/eneda8">eneda</a></p>
      </div>
    </footer>
  </div>
</div>


<script>
  document.getElementById("landingDay").textContent= new Date().toLocaleString('en-us', {weekday:'long'});
</script>