<% layout("layouts/boilerplate")%>

<div class="container-fluid mb-4 mt-5" style="padding-left: 100px; padding-right: 100px;">
    <div class="row">
        <div class="col">
            <h3 class="mb-4">Home</h3>
            <div class="border-left border-bottom mb-3">
                <div class="my-2 h-50">
                    <small class="text-muted pl-3">Menu</small>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link active" href="#"><i class="fas fa-home mr-3"></i>Home</a>
                        </li>
                        <% if(user.postedToday === false) {%> 
                            <li class="nav-item">
                                <a class="nav-link" href="" data-toggle="modal" id="newPostLink" data-target="#newPostModal"><i class="far fa-star mr-3"></i>Rate today</a>
                            </li>
                            <% } else {%>
                            <li class="nav-item">
                                <a href="/posts/<%=user.todaysPost%>" class="nav-link"><i class="far fa-calendar-check mr-3"></i>Today's rating</a>
                            </li>
                            <% } %>
                        <li class="nav-item">
                          <a class="nav-link" href="#"><i class="far fa-chart-bar mr-3"></i>Data</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/write"><i class="fas fa-pencil-alt mr-3"></i>Write</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/u/<%=currentUser.username%>#nav-journals"><i class="fas fa-book mr-3"></i></i>Journals</a>
                          </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/u/<%=currentUser.username%>#nav-bookmarks"><i class="fas fa-bookmark mr-3"></i></i>Bookmarks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/posts/search"><i class="fas fa-search mr-3"></i>Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/settings"><i class="fas fa-cog mr-3"></i>Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-sign-out-alt mr-3"></i>Log out</a>
                        </li>
                      </ul>
                </div>
            </div>
            <div class="bg-light shadow-sm rounded p-3 mb-5">
                <div class="card my-2 h-50 p-3 border-0">
                    <h6 class="text-center">Today's Global Avg Rating: <%=average%></h6>
                    <iframe>
                        <section>CHART GOES HERE</section>
                    </iframe>
                </div>
            </div>
            <div class="bg-light shadow-sm p-3 mt-3">
                <div class="card my-2 h-50 p-3 border-0">
                    <h6 class="text-center mt-3"><a href="https://global-mind.org/gcpdot/">Real-time GCP Dot</a></h6>
                    <div class="text-center">
                        <iframe src="https://global-mind.org/gcpdot/gcp.html" height="48" width="48" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
                    </div>
                    <hr>
                    <iframe src="https://global-mind.org/gcpdot/gcpchart.php" class="figure-img img-fluid img-rounded" height="250" width="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" ></iframe>
                </div>
            </div>
        </div>
        <div class="col-5  bg-light shadow-sm rounded mx-5">
            <h5 class="text-left font-weight-bold mt-3"><%=today%></h5>
            <div>
                <h6 class="text-left">10 random ratings from today<a href="/home" class="btn btn-small d-inline" title="refresh for 10 more"><i class="fas fa-sync-alt text-right text-primary"></i></a>
                </h6>
                <!-- <% if(user && (user.postedToday === false)) {  %> 
                <a href="" data-toggle="modal" id="newPostLink" data-target="#newPostModal">Add Rating</a>
                <% } %>  -->
            </div>
            <% if(posts){ %>
                <%for (post of posts) { %> 
                    <div class="card mb-3 mt-1 pt-2 pl-2 pr-2 border-0">
                        <div class="media pr-3">
                            <a href="/u/<%=post.author.username%>"><img style="width:45px; border-radius: 50%" src="<%=post.author.avatar.thumbnail%>" class="pr-2" alt=""></a>
                            <div class="media-body text-wrap">
                                <div class="d-flex justify-content-between mt-2">
                                    <p class="card-subtitle mb-1 d-inline"><strong><a href="/u/<%=post.author.username%>"><%=post.author.displayName%></a></strong>  <img class="d-inline" style="width: 17px" src="<%=post.author.country.flag%>" title="<%=post.author.country.name%>" alt=""><small class="text-muted mb-1 d-block">@<%=post.author.username%></small></p>
                                    
                                    <% if(user && post.author.equals(user._id)) { %> 
                                        <div class="btn-group" title="More" >
                                        <button class="btn btn-sm text-dark mb-1 pb-1 bg-light rounded-circle" data-toggle="dropdown" style="height: 30px; width: 30px">...</button>
                                        <div class="dropdown-menu dropdown-menu-lg-right">
                                            <% if(within24Hours(post) === true) { %>
                                            <button class="dropdown-item pl-2"><a href="" data-toggle="modal" id="editPostLink" data-target="#editPostModal" class="text-decoration-none"><i class="fas fa-edit text-warning"></i> Edit</a></button>
                                            <% } %> 
                                            <button class="dropdown-item pl-2 text-primary " data-toggle="modal" data-target="#deleteModal-<%=post._id%>"><a><i class="fas fa-trash-alt text-danger"></i><span class="text-light">_</span>Delete</a></button>
                                        </div>
                                        </div>
                                        <% } %>
                                </div>
                                <p class="mb-0"><span class="star star<%=post.rating%>-result"></span></p>
                                <div class="text-wrap">
                                    <p class="mb-0"><%=post.body%></p>
                                </div>
                                <% if(post.image) { %> 
                                    <a href="" data-toggle="modal" id ="imagePreviewLink-<%=post._id%>" data-target="#imagePreviewModal-<%=post._id%>">
                                        <img class="img-fluid" src="<%=post.image.fullsize%>" alt="">
                                    </a>
                                    <!-- image preview modal -->
                                    <div>
                                        <div class="modal fade" id="imagePreviewModal-<%=post._id%>" tabindex="-1" aria-labelledby="imagePreviewModal-<%=post._id%>" aria-hidden="true" >
                                            <div class="modal-dialog modal-dialog-centered">
                                                <img src="<%=post.image.fullsize%>" alt="" class="">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ------------------------------ -->
                                    
                                <% } %> 
                                <div class="d-flex justify-content-between">
                                    <div>
                                    <small class="pb-1"><a href="/posts/<%=post._id%>" class="card-link"><%=post.timestamp%></a></small>
                                    <% if(post.edited){ %>
                                    <small class="pb-1 text-muted" title="<%=post.updatedAt%>">Edited</small>
                                    <% } %>
                                    </div>
                                    <div>
                                        <a href="/posts/<%=post._id%>" class="text-decoration-none mr-2 p-0" title="Comments"><span class="text-muted" style="font-size: 13px;"><%=post.comments.length%></span> <i class="fas fa-comments text-primary"></i></a>  

                                        <a  class="copy btn btn-sm btn-link " role="button"  title="Copy link"  ><i class="fas fa-link text-warning mr-2" onclick="navigator.clipboard.writeText(window.location.href.slice(0,21)+'/posts/<%=post._id%>')"></i></a>

                                        <% if(user.bookmarks.includes(post._id)) { %>
                                            <button class="btn btn-sm btn-link" title="Remove bookmark" data-toggle="modal" data-target="#bookmarkDeleteModal-<%=post._id%>"><i class="fas fa-bookmark text-danger"></i></button>

                                            <!-- bookmark delete modal -->
                                            <div class="modal fade" id="bookmarkDeleteModal-<%=post._id%>" tabindex="-1" aria-labelledby="bookmarkDeleteModalLabel-<%=post._id%>" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="bookmarkDeleteModalLabel-<%=post._id%>">Remove bookmark?</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                                                        <form class="d-inline" action="/posts/<%=post._id%>/bookmark?_method=DELETE" method="POST">
                                                            <button type="submit" class="btn btn-danger">Remove</button>
                                                        </form>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>

                                          <%} else { %> 
                                          <form action="/posts/<%=post._id%>/bookmark" method="POST" class="d-inline">
                                            <button class="btn btn-sm btn-link" title="Bookmark"><i class="far fa-bookmark text-danger mr-2"></i></button>
                                          </form>
                                          <% } %> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include("../partials/postDelete") %>
                        <hr class="my-1">
                        <div class="media mt-1 mb-1 pl-2">
                            <a class="mr-1" href="/u/<%=user.username%>">
                            <img src="<%=user.avatar.thumbnail%>" alt="" class="border" style="width:40px; border-radius: 50%">
                            </a>
                            <div class="media-body">
                                <form action="/posts/<%=post._id %>/comments" class="validated-form mr-2" method="POST" novalidate>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="comment[body]" id="body" cols="15" rows="1" placeholder="Write a comment..." required>
                                        <div class="input-group-append" id="">
                                        <button class="btn btn-outline-warning" type="submit">Post</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% } %> 
            <% } else { %>
                <h1 class="text-center">No posts yet!</h1>
            <% } %>
            <a href="/home" class="btn btn-small d-inline float-right" title="refresh for 10 more"><i class="fas fa-sync-alt text-right text-primary"></i></a>
            
        </div>
        <div class="col">
                <div class="" style="height: 200px;">
                        <div class="bg-light shadow-sm rounded overflow-hidden" >
                            <div class="px-4 pt-0 pb-4 cover" style="background-color: <%=user.coverColor%>; height: 130px">
                                
                                <div class="media align-items-end">
                                    <div class="mr-3">
                                        <img src="<%=user.avatar.path%>" alt="" width="120" height="120" class="rounded-circle my-3 img" style="transform: translateY(2.3rem)">
                                    </div>
                                    <div class="text-white pl-2 pb-2">
                                        <h4 class="my-0"><a href="/u/<%=user.username%>" class="text-decoration-none text-white"><%=user.displayName%></a></h4>
                                        <p class="my-0"><span style="font-size: 10px"> @</span><%=user.username%></p>
                                        <p class="small"><i class="fas fa-map-marker-alt text-white"></i>  <img title="<%=user.country.name %>" src="<%=user.country.flag%>" width="17px"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-light text-dark py-3 pr-3 pl-0 d-flex justify-content-end text-center">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                        <h5 class="font-weight-bold mb-0 d-block"><%=user.posts.length%></h5><small class="text-muted">Posts</small>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5 class="font-weight-bold mb-0 d-block"><%=user.comments.length%></h5><small class="text-muted">Comments</small>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5 class="font-weight-bold mb-0 d-block"><%=user.postStreak%></h5><small class="text-muted">Streak</small>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5 class="font-weight-bold mb-0 d-block"><%=user.average%></h5><small class="text-muted">Avg. Rating</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                </div>
                <div class="bg-light shadow-sm rounded my-5 p-3">
                <% if(user.postedToday === true && user.todaysPost.length) {%> 
                    <h6 class="font-weight-bold mb-0 pb-0">
                        <a href="/posts/<%=todaysPost._id%>" class="text-decoration-none">
                            Today's Rating: <span class="badge badge-light mb-2" style="font-size: 13px"><span class="star star<%=todaysPost.rating%>-result"></span></span>  
                        </a>
                    </h6>
                <% } else { %> 
                    <div class="card my-2 border-0">
                        <div class="card-body pb-2">
                            <form action="/posts" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                                <h6 class="font-weight-bold">How was your day?</h6>
                                <div class="">
                                    <label class=""for="post[rating]"></label>
                                    <fieldset class="rating d-block">
                                    <input type="radio" id="star5-new" name="post[rating]" value=5 /><label class = "" for="star5-new" title="Amazing"></label>
                                    <input type="radio" id="star4-new" name="post[rating]" value=4 /><label class = "" for="star4-new" title="Very good"></label>
                                    <input type="radio" id="star3-new" name="post[rating]" value=3 /><label class = "" for="star3-new" title="Average"></label>
                                    <input type="radio" id="star2-new" name="post[rating]" value=2 /><label class = "" for="star2-new" title="Not good"></label>
                                    <input type="radio" id="star1-new" name="post[rating]" value=1 /><label class = "" for="star1-new" title="Terrible"></label>
                                    </fieldset>
                                    <div class="valid-feedback">Looks good!</div>
                                </div>  
                                <div class="">
                                    <label class="form-label mt-0" for="body">Jot down your thoughts or post an image:</label>
                                    <textarea class="form-control border-0 bg-light" rows="5"cols="10" type="text" name="post[body]"></textarea>
                                    <div class="valid-feedback">Looks good!</div>
                                </div>    
                                <div class="custom-file mt-3 ">
                                    <input type="file" class="custom-file-input " id="image" name="image" onchange="document.getElementById('preview').src = window.URL.createObjectURL(this.files[0])">
                                    <label class="custom-file-label border-sm" for="image">Choose image...</label>
                                </div>
                                <img class="img-fluid my-2" id="preview" width="100px"/> 
                                <div class="mb-3 clearfix">
                                    <button class="btn btn-warning float-left">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>                      
                <% } %>
                       
                </div>
            <div class="bg-light shadow-sm rounded my-5 p-3">
                <div class="card my-2 border-0" style="height: 100px;">
                    <div class="card-body ">
                        MY DATA
                    </div>
                </div>
            </div>
            <div class="bg-light shadow-sm rounded p-3">
                <div class="card my-2 border-0">
                    <div class="card-body ">
                        <h6 class="font-weight-bold">Donate to todei</h6>
                        <small class="d-block">We are 100% funded by our users. If you <i class="fas fa-heart text-danger"></i> us, please consider making a donation to cover our operational expenses.</small>
                        <a href="/donate" class="donate btn btn-sm btn-warning mt-2" role="button">Donate</a>
                        <small class="d-block mt-2">Or, support us on Patreon!</small>
                        <a href="" class="donate btn btn-sm btn-danger mt-2 border-0" role="button">Become a Patron <i class="fas fa-external-link-alt small"></i></a>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <div class="text-muted" style="height: 150px;">
                    <a class="d-inline text-muted font-weight-light" href="#" style="font-size: 11px">About</a> |
                    <a class="d-inline text-muted font-weight-light" href="#" style="font-size: 11px">Privacy Policy</a> |
                    <a class="d-inline text-muted font-weight-light" href="#" style="font-size: 11px">Terms of Service</a> |
                    <a class="d-inline text-muted font-weight-light" href="#" style="font-size: 11px">Help</a> |
                    <a class="d-inline text-muted font-weight-light" href="#" style="font-size: 11px">Contact</a>
                    <small class="text-muted d-block">© 2021 todei</small>
                    <small class="text-muted d-block">made with <i class="fas fa-heart text-danger"></i> by <a href="https://github.com/eneda8">eneda</a></small>
                </div>
            </div>
        </div>
    </div> 
</div>

<%- include('../partials/edit')%>
<%- include("../partials/new") %>
<%- include("../partials/toast") %>


