<% layout("layouts/boilerplate")%>

<div class="paper px-0 mx-0">
    <div class="container-fluid mb-4 mt-4" style="padding-left: 100px; padding-right: 100px;">
        <h3 class="mb-2">Home</h3>
        <div class="row">
            <div class="col">
                <%- include("../partials/sidebars/left/menu") %>
                <%- include("../partials/sidebars/left/globalChart") %>
                <%- include("../partials/sidebars/left/GCP") %>
            </div>
            <div class="col-5 shadow rounded bg-light mx-5" >
                <h5 id="today-header" class="text-left font-weight-bold mt-3">Today</h5>
                <% if(!posts.includes(null)){ %>
                    <h6 class="text-left mb-0">10 random ratings from today <i class="fas fa-random text-right text-primary" title="Refresh for 10 more" onclick="location.reload()"></i>
                    </h6>
                    <%- include('../partials/homeFilters')%>
                    <%for (post of posts) { %> 
                        <%- include('../partials/posts/edit')%>
                        <%- include('../partials/posts')%>
                        <% } %> 
                        <% if(posts.length) { %> 
                        <i class="fas fa-random text-right text-primary" title="refresh for 10 more" onclick="location.reload()"></i>
                        <% } else {%> 
                        <div class="card border-0">
                            <div class="text-center py-5">                            
                                <h5 class="font-weight-bold">No ratings found</h5>
                                <a class="text-primary d-block" role="button"><i class="fas fa-random text-right text-primary mr-1" onclick="location.reload()"></i>Refresh</a>
                                <a class="mb-5" href="" data-toggle="modal" id="newPostLink" data-target="#newPostModal"><i class="far fa-star text-primary mr-1"></i>Submit a rating</a>
                        </div>

                        </div>
                        <% } %> 
                <% } %>
            </div>
            <div class="col">
                <%- include("../partials/sidebars/right/userPreview") %>
                <%- include("../partials/sidebars/right/todaysRating") %>
                <%- include("../partials/sidebars/right/myWeek") %>
                <%- include("../partials/sidebars/right/donateLinks") %>
                <%- include("../partials/sidebars/right/footer") %>
            </div>
        </div> 
    </div>
</div>

<%- include("../partials/posts/new") %>
