<% layout("layouts/boilerplate")%>

<div class="container-fluid mb-4 mt-5" style="padding-left: 100px; padding-right: 100px;">
    <div class="row">
        <div class="col">
            <h3 class="mb-4">Home</h3>
            <%- include("../partials/sidebars/left/menu") %>
            <%- include("../partials/sidebars/left/globalChart") %>
            <%- include("../partials/sidebars/left/GCP") %>
        </div>
        <div class="col-5  bg-light shadow rounded mx-5">
            <h5 class="text-left font-weight-bold mt-3"><%=today%></h5>
            <div>
            </div>
            <% if(!posts.includes(null)){ %>
                <h6 class="text-left mb-0">10 random ratings from today <i class="fas fa-random text-right text-primary" title="refresh for 10 more" onclick="location.reload()"></i>
                </h6>
                <%- include('../partials/homeFilters')%>
                <%for (post of posts) { %> 
                    <%- include('../partials/posts/edit')%>
                    <%- include('../partials/posts')%>
                    <% } %> 
                    <% if(posts.length) { %> 
                    <i class="fas fa-random text-right text-primary" title="refresh for 10 more" onclick="location.reload()"></i>
                    <% } else {%> 
                    <div class="card border-0">
                        <h5 class="text-center m-5">No ratings yet today :( </h5>
                        <a class=" text-center mb-5" href="" data-toggle="modal" id="newPostLink" data-target="#newPostModal">Be the first to submit a rating!</a>
                    </div>
                    <% } %> 
            <% } %>
        </div>
        <div class="col">
            <%- include("../partials/sidebars/right/userPreview") %>
            <%- include("../partials/sidebars/right/todaysRating") %>
            <%- include("../partials/sidebars/right/myData") %>
            <%- include("../partials/sidebars/right/donateLinks") %>
            <%- include("../partials/sidebars/right/footer") %>
        </div>
    </div> 
</div>
<%- include("../partials/posts/new") %>

