<% layout("layouts/boilerplate")%>

<div class="container-fluid mb-4" style="padding-left: 100px; padding-right: 100px;">
    <div class="row">
        <div class="col">
            <h3 class="mb-4">Home</h3>
            <div class="border-left mb-3">
                <div class="my-2 h-50">
                    <small class="text-muted pl-3">Menu</small>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link active" href="#"><i class="fas fa-home mr-3"></i>Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#"><i class="far fa-chart-bar mr-3"></i>Data</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#"><i class="fas fa-pencil-alt mr-3"></i>Write</a>
                        </li>
                        <% if(currentUser.postedToday === false) {%> 
                        <li class="nav-item">
                            <a class="nav-link" href="" data-toggle="modal" id="newPostLink" data-target="#newPostModal"><i class="far fa-star mr-3"></i>Rate today</a>
                        </li>
                        <% } else {%>
                        <li class="nav-item">
                            <a href="/posts/<%=currentUser.todaysPost%>" class="nav-link"><i class="far fa-calendar-check mr-3"></i>Today's rating</a>
                        </li>
                        <% } %>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-search mr-3"></i>Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-cog mr-3"></i>Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-sign-out-alt mr-3"></i>Log out</a>
                        </li>
                      </ul>
                </div>
            </div>
            <div class="bg-light shadow-sm rounded p-3 mb-5">
                <div class="card my-2 h-50 p-3 border-0">
                    <h6 class="text-center">Today's Global Avg Rating: 3.4</h6>
                    <iframe>
                        <section>CHART GOES HERE</section>
                    </iframe>
                </div>
            </div>
            <div class="bg-light shadow-sm p-3 mt-3">
                <div class="card my-2 h-50 p-3 border-0">
                    <h6 class="text-center mt-3"><a href="https://global-mind.org/gcpdot/">Real-time GCP Dot</a></h6>
                    <div class="text-center">
                        <iframe src="https://global-mind.org/gcpdot/gcp.html" height="48" width="48" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
                    </div>
                    <hr>
                    <iframe src="https://global-mind.org/gcpdot/gcpchart.php" class="figure-img img-fluid img-rounded" height="250" width="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" ></iframe>
                </div>
            </div>
        </div>
        <div class="col-5  bg-light shadow-sm rounded mx-5">
            <h5 class="text-left font-weight-bold mt-3"><%=today%></h5>
            <div>
                <h6 class="text-left">10 random ratings from today <button type="button" class="btn btn-small d-inline" title="refresh for 10 more"><i class="fas fa-sync-alt text-right text-primary"></i></button></h6>
                <% if(currentUser && (currentUser.postedToday === false)) {  %> 
                <a href="" data-toggle="modal" id="newPostLink" data-target="#newPostModal">Add Rating</a>
                <% } %> 
            </div>
            <% if(posts){ %>
                <%for (post of posts) { %> 
                    <div class="card mb-3 mt-1 pt-2 pl-2 pr-2 border-0">
                        <div class="media pr-3">
                            <a href="/u/<%=post.author.username%>"><img style="width:45px; border-radius: 50%" src="<%=post.author.avatar.thumbnail%>" class="pr-2" alt=""></a>
                            <div class="media-body text-wrap">
                                <div class="d-flex justify-content-between mt-2">
                                    <p class="card-subtitle mb-1 d-inline"><strong><a href="/u/<%=post.author.username%>"><%=post.author.displayName%></a></strong>  <img class="d-inline" style="width: 17px" src="<%=post.author.country.flag%>" title="<%=post.author.country.name%>" alt=""><small class="text-muted mb-1 d-block">@<%=post.author.username%></small></p>
                                    
                                    <% if(currentUser && post.author.equals(currentUser._id)) { %> 
                                        <div class="btn-group" title="More" >
                                        <button class="btn btn-sm text-dark mb-1 pb-1 bg-light rounded-circle" data-toggle="dropdown" style="height: 30px; width: 30px">...</button>
                                        <div class="dropdown-menu dropdown-menu-lg-right">
                                            <% if(within24Hours(post) === true) { %>
                                            <button class="dropdown-item pl-2"><a href="" data-toggle="modal" id="editPostLink" data-target="#editPostModal" class="text-decoration-none"><i class="fas fa-edit text-warning"></i> Edit</a></button>
                                            <% } %> 
                                            <form class="d-inline" action="/posts/<%=post._id%>?_method=DELETE" method="POST">
                                            <button class="dropdown-item pl-2 text-primary"><a><i class="fas fa-trash-alt text-danger"></i><span class="text-light">_</span>Delete</a></button>
                                            </form>
                                        </div>
                                        </div>
                                        <% } %>
                                </div>
                                <p class="mb-0"><span class="star star<%=post.rating%>-result"></span></p>
                                <div class="text-wrap">
                                    <p class="mb-0"><%=post.body%></p>
                                </div>
                                <% if(post.image) { %> 
                                    <div class="d-block">
                                        <img class="img-fluid" src="<%=post.image.fullsize%>" alt="">
                                    </div>
                                <% } %> 
                                <div class="d-flex justify-content-between">
                                    <div>
                                    <small class="pb-1"><a href="/posts/<%=post._id%>" class="card-link"><%=post.timestamp%></a></small>
                                    <% if(post.edited){ %>
                                    <small class="pb-1 text-muted" title="<%=post.updatedAt%>">Edited</small>
                                    <% } %>
                                    </div>
                                    <div>
                                        <a href="/posts/<%=post._id%>" class="text-decoration-none mr-2 p-0" title="Comments"><span class="text-muted" style="font-size: 13px;" title="Copy link"><%=post.comments.length%></span> <i class="fas fa-comments text-primary"></i></a>  

                                        <a  class="btn btn-sm btn-link " role="button" onclick="navigator.clipboard.writeText(window.location.href.slice(0,28)+'<%=post._id%>')" ><i class="fas fa-link text-warning mr-2"></i></a>

                                        <% if(currentUser.bookmarks.includes(post._id)) { %>
                                            <form action="/posts/<%=post._id%>/bookmark?_method=DELETE" method="POST" class="d-inline">
                                              <button class="btn btn-sm btn-link" type="submit" title="Remove bookmark"><i class="fas fa-bookmark text-danger"></i> <i class="far fa-times-circle text-secondary small"></i></button>
                                            </form>
                                          <%} else { %> 
                                          <form action="/posts/<%=post._id%>/bookmark" method="POST" class="d-inline">
                                            <button class="btn btn-sm btn-link" title="Bookmark"><i class="far fa-bookmark text-danger mr-2"></i></button>
                                          </form>
                                          <% } %> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-1">
                        <div class="media mt-1 mb-1 pl-2">
                            <a class="mr-1" href="/u/<%=currentUser.username%>">
                            <img src="<%=currentUser.avatar.thumbnail%>" alt="" class="border" style="width:40px; border-radius: 50%">
                            </a>
                            <div class="media-body">
                                <form action="/posts/<%=post._id %>/comments" class="validated-form mr-2" method="POST" novalidate>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="comment[body]" id="body" cols="15" rows="1" placeholder="Write a comment..." required>
                                        <div class="input-group-append" id="">
                                        <button class="btn btn-outline-warning" type="submit">Post</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% } %> 
            <% } else { %>
                <h1 class="text-center">No posts yet!</h1>
            <% } %>
            <button type="button" class="btn btn-small d-inline float-right" title="refresh for 10 more"><i class="fas fa-sync-alt text-right text-primary"></i></button>
            
        </div>
        <div class="col">
                <div class="" style="height: 200px;">
                        <div class="bg-light shadow-sm rounded overflow-hidden" >
                            <div class="px-4 pt-0 pb-4 cover" style="background-color: <%=currentUser.coverColor%>; height: 130px">
                                
                                <div class="media align-items-end">
                                    <div class="mr-3">
                                        <img src="<%=currentUser.avatar.path%>" alt="" width="120" height="120" class="rounded-circle my-3 img" style="transform: translateY(2.3rem)">
                                    </div>
                                    <div class="text-white pl-2 pb-2">
                                        <h4 class="my-0"><a href="/u/<%=currentUser.username%>" class="stretched-link text-decoration-none text-white"><%=currentUser.displayName%></a></h4>
                                        <p class="my-0"><span style="font-size: 10px"> @</span><%=currentUser.username%></p>
                                        <p class="small"><i class="fas fa-map-marker-alt text-white"></i>  <img title="<%=currentUser.country.name %>" src="<%=currentUser.country.flag%>" width="17px"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-light text-dark py-3 pr-3 pl-0 d-flex justify-content-end text-center">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                        <h5 class="font-weight-bold mb-0 d-block">25</h5><small class="text-muted">Posts</small>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5 class="font-weight-bold mb-0 d-block">10</h5><small class="text-muted">Comments</small>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5 class="font-weight-bold mb-0 d-block"><%=currentUser.postStreak%></h5><small class="text-muted">Streak</small>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5 class="font-weight-bold mb-0 d-block">4.9</h5><small class="text-muted">Avg. Rating</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                </div>
            <div class="bg-light shadow-sm rounded my-5 p-3">
                <div class="card my-2" style="height: 100px;">
                    <div class="card-body">
                        DONATE TO TODAI
                    </div>
                </div>
            </div>
            <div class="bg-light shadow-sm rounded p-3">
                <div class="card my-2" style="height: 150px;">
                    <div class="card-body">
                        MY DATA
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <div class="text-muted" style="height: 150px;">
                    <a class="d-inline text-muted font-weight-light" href="#" style="font-size: 11px">About</a> |
                    <a class="d-inline text-muted font-weight-light" href="#" style="font-size: 11px">Privacy Policy</a> |
                    <a class="d-inline text-muted font-weight-light" href="#" style="font-size: 11px">Terms of Service</a> |
                    <a class="d-inline text-muted font-weight-light" href="#" style="font-size: 11px">Help</a> |
                    <a class="d-inline text-muted font-weight-light" href="#" style="font-size: 11px">Contact</a>
                    <small class="text-muted d-block">© 2021 todai</small>
                    <small class="text-muted d-block">made with <i class="fas fa-heart text-danger"></i> by <a href="https://github.com/eneda8">eneda</a></small>
                </div>
            </div>
        </div>
    </div> 
</div>

<%- include('../partials/edit')%>