<% layout("layouts/boilerplate")%>
    <div class="row py-3 px-4">
        <div class="col-md-8 col-lg-5 mx-auto">
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 cover" style="background-color: <%=user.coverColor%>">
                    <div class="media align-items-end" style="transform: translateY(6rem)">
                        <div class="mr-3">
                            <img src="<%=user.avatar.path%>" alt="" width="200" height="200" class="rounded my-3 img-thumbnail">
                            <% if(currentUser && user._id.equals(currentUser._id)) { %>
                            <a href=""" data-toggle="modal" id="editProfileLink" data-target="#editProfileModal" class="btn btn-outline-secondary btn-sm btn-block">Edit profile <i class="fas fa-user-edit"></i></a>
                            <% } %> 
                        </div>
                        <div class="mb-5 text-white">
                            <h4 class="my-1"><%=user.displayName%></h4>
                            <h6 class="py-1">@<%=user.username%></h6>
                            <p class="small mb-5"><img src="/images/pin.png" alt="">  <img title="<%=user.country.name %>" src="<%=user.country.flag%>"></p>
                        </div>
                    </div>
                </div>
                <div class="bg-light p-3 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block"><%=postCount%></h5><small class="text-muted">Posts</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block"><%=commentCount%></h5><small class="text-muted">Comments</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block"><%=user.postStreak%></h5><small class="text-muted">Streak</small>
                        </li>
                    </ul>
                </div>
                <div class="px-4 py-3">
                    <h5 class="my-1">About</h5>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <p class="text-muted mb-0"><%=user.bio%></p>
                    </div>
                </div>
                <nav>
                    <div class="nav nav-tabs mx-4" id="nav-tab" role="tablist">
                      <a class="nav-link active" id="nav-posts-tab" data-toggle="tab" href="#nav-posts" role="tab" aria-controls="nav-posts" aria-selected="true">Ratings</a>
                      <a class="nav-link" id="nav-comments-tab" data-toggle="tab" href="#nav-comments" role="tab" aria-controls="nav-comments" aria-selected="false">Comments</a>
                      <% if(currentUser && user._id.equals(currentUser._id)) { %>
                      <a class="nav-link" id="nav-data-tab" data-toggle="tab" href="#nav-data" role="tab" aria-controls="nav-data" aria-selected="false">Data</a>
                      <a class="nav-link" id="nav-journals-tab" data-toggle="tab" href="#nav-journals" role="tab" aria-controls="nav-journals" aria-selected="false">Journals</a>
                      <% } %> 
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-posts" role="tabpanel" aria-labelledby="nav-posts-tab">
                        <% if(!user.posts.length) { %>
                            <h6 class="text-center my-5">No ratings yet!</h6>
                        <% } else { for (post of user.posts) { %> 
                                <div class="media mb-0 mt-2 mx-4 pl-2 pt-1">
                                    <a class="mr-3" href="/u/<%=user.username%>">
                                        <img src="<%=user.avatar.thumbnail%>" alt="" style="width:45px; border-radius: 50%">
                                    </a>
                                    <div class="media-body">
                                        <h6 class="card-subtitle mt-1"><strong><a href="/u/<%=user.username%>"><%=user.displayName%></a></strong>  <img class="d-inline" style="width: 17px" src="<%=user.country.flag%>" alt="" title="<%=user.country.name %>"></h6>
                                        <small class="text-muted mb-0 d-block">@<%=user.username%></small>
                                        <p class="mb-1 mt-0" style="font-size: 14px"> <span class="mark"><%=post.date%>:</span> <span class="star star<%=post.rating%>-result"></span></p>
                                        <div class="text-wrap">
                                            <p class="my-0"><%=post.body%></p>
                                        </div>
                                        <% if(post.image) { %> 
                                            <div class="d-block">
                                                <img class="img-fluid" src="<%=post.image.fullsize%>" alt="">
                                            </div>
                                        <% } %> 
                                        <div class="d-inline">
                                            <small class="pb-1"><a href="/posts/<%=post._id%>" class="card-link"><%=post.timestamp%></a></small>
                                            <% if(post.edited){ %>
                                            <small class="pb-1 text-muted">Edited</small>
                                            <% } %>
                                        </div>
                                        <div class="d-inline">
                                            <small class="mr-3"></small>
                                        </div>
                                    </div>
                                </div>
                            <hr class="my-2 mx-3"> 
                            <% } } %> 
                    </div>
                    <div class="tab-pane fade mb-3 pt-2" id="nav-comments" role="tabpanel" aria-labelledby="nav-comments-tab">
                        <% if(!comments.length) { %>
                        <h6 class="text-center my-5">No comments yet!</h6>
                        <% } %> 
                        <% for (let comment of comments) { %>
                              <div class="media mb-0 mt-2 mx-4 pl-2 pt-1">
                                <a class="mr-3" href="/u/<%=comment.author.username%>">
                                  <img src="<%=comment.author.avatar.thumbnail%>" alt="" style="width:45px; border-radius: 50%">
                                </a>
                                <div class="media-body">
                                  <h6 class="my-0 card-subtitle d-inline"><strong><a href="/u/<%=comment.author.username%>"><%=comment.author.displayName%></a></strong> <span class="text-muted">@<%=comment.author.username%></span>  <img class="d-inline" style="width: 17px" title="<%=comment.author.country.name%>" src="<%=comment.author.country.flag%>" alt=""></h6>
                                    
                                        <% if(comment.post) {%> 
                                        <p class="my-1">
                                            <a href="/posts/<%=comment.post._id%>"class="card-link" >@<%=comment.post.author.username%></a> <%=comment.body%>
                                        </p>
                                        <% } else { %> 
                                            <p class="my-1">@[deleted] <%=comment.body%></p>
                                        <% }%>
                                    <small class="pb-1"><%=comment.timestamp%></small>
                                    <small></small>
                                    <% if(currentUser && comment.author.equals(currentUser._id)) { %> 
                                    <div class="d-inline">
                                      <form class="d-inline" action="/posts/<%=post._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                      <button class="btn btn-link btn-sm d-inline pb-0">Delete</button>
                                      </form>
                                    </div>
                                  <% } %> 
                                </div>
                              </div> 
                              <hr class="my-1 mx-4">                   
                            <% } %>
                    </div>

                    <% if(currentUser && user._id.equals(currentUser._id)) { %> 
                        <!-- data tab start -->
                        <div class="tab-pane fade" id="nav-data" role="tabpanel" aria-labelledby="nav-data-tab">
                            <h6 class="text-center my-5">Stay tuned!</h6>
                        </div> 
                        <!-- data tab end -->
                        <!-- new journals tab start -->
                        <div class="tab-pane fade" id="nav-journals" role="tabpanel" aria-labelledby="nav-journals-tab">
                            <!-- <div class="text-center">
                                <button class="btn btn-outline btn-warning mt-3" type="button"><a href="/write" class="text-dark">Write</a></button>
                            </div> -->

                            <div class="accordion mx-4 my-3" id="journalsAccordion">
                                <button class="btn btn-link pl-0" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="">Expand/Collapse All</button>

                                <% let index= 0; %> 
                                <% for (let journal of user.journals) { %> 
                                <% index++ %> 
                                <div class="card">
                                    <div class="card-header" id="heading-<%=index%>">
                                        <h6 class="mb-0">
                                            <a class="text-dark text-monospace text-decoration-underline" href="/write/<%=journal._id%>"><%=journal.date%></a>
                                            <button class="btn btn-link text-warning ml-1 p-0" type="button" data-toggle="collapse" data-target="#journal-<%=index%>" aria-expanded="false" aria-controls="journal-<%=index%>"><i class="fas fa-caret-down"></i></button>
                                        </h6>
                                    </div>
                                    <div id="journal-<%=index%>" class="collapse multi-collapse" aria-labelledby="heading-<%=index%>"  >
                                        <div class="card-body">
                                            <% if(journal.edited = true) { %> 
                                            <small><%journal.editedTime%></small>
                                            <% } %> 
                                            <p class="text-monospace"><%= journal.body %></p>
                                        </div>
                                    </div>
                                </div>
                                <% } %> 
                            </div>
                        
                        </div>
                    
                    
                    <% } %> 
                    
                </div>
            </div>
        </div>
    </div>
<!-- Edit profile modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="editProfileLableModal">Edit Profile</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="/settings?_method=PUT" method="POST" class="validated-form" novalidate enctype="multipart/form-data">
            <div>
                <form action="/settings?_method=PUT" method="POST" class="validated-form" novalidate enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label" for="displayName">Display name</label>
                        <input class="form-control" type="text" id="displayName" name="displayName" value="<%=user.displayName%>">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="bio">Bio</label>
                        <textarea class="form-control" id="bio" name="bio"><%=user.bio%></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <p>Profile photo:</p>
                    <div class="custom-file mb-3">
                        <input type="file" class="custom-file-input" id="avatar" name="avatar" onchange="document.getElementById('preview').src = window.URL.createObjectURL(this.files[0])">
                        <label class="custom-file-label" for="avatar">Choose an image...</label>
                    </div>
                    <img class="img-fluid my-2" id="preview" width="100px"/> 
                    <div class="mb-3">
                        <label for="coverColor">Profile cover color:</label>
                        <input type="color" name="coverColor" id="coverColor" value="<%=user.coverColor%>">
                    </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            </form>
        </div>
        </div>
    </div>
    </div>
