<% layout("layouts/boilerplate")%>
    <div class="row py-3 px-4 no-gutters mb-3">
        <div class="col-md-8 col-lg-5 mx-auto">
            <div class="bg-white shadow rounded overflow-hidden">
                <% if(user.coverPhoto) { %> 
                <div class="px-4 pt-0 pb-4" style="background-image: url('<%=user.coverPhoto.profile%>'); background-size:cover; background-repeat: no-repeat;">
                <% } else {%> 
                <div class="px-4 pt-0 pb-4" style="background-color: <%=user.coverColor%>;background-size:cover; background-repeat: no-repeat;">
                <% } %> 
                    <div class="media align-items-end" style="transform: translateY(6em)">
                        <div class="mr-3">
                            <a href="" data-toggle="modal" id ="avatarPreviewLink" data-target="#avatarPreviewModal">
                                <img src="<%=user.avatar.profile%>" alt="" width="200" height="200" style="border-radius: 50%;" class="rounded-circle my-3 img-fluid img-thumbnail">
                            </a>
                            <% if(currentUser && user._id.equals(currentUser._id)) { %>
                            <a href="" data-toggle="modal" id="editProfileLink" data-target="#editProfileModal" class="btn btn-warning btn-sm btn-block">Edit profile <i class="fas fa-user-edit"></i></a>
                            <% } %> 
                        </div>
                        <div class="mb-5 pb-0">
                            <h3 class="my-0" ><%=user.displayName%></h3>
                            <h6 class="my-0">@<%=user.username%></h6>
                            <p class="small mb-5 text-white"><i class="fas fa-map-marker-alt text-white mr-1"></i>  <img class="mr-1" title="<%=user.country.name %>" src="<%=user.country.flag%>"><%=user.country.name %></p>
                        </div>
                    </div>
                </div>
                <div class="bg-light p-3 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block"><%=user.posts.length%></h5><small class="text-muted">Ratings</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block"><%=user.comments.length%></h5><small class="text-muted">Comments</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block"><%=user.postStreak%></h5><small class="text-muted">Streak</small>
                        </li>
                        <% if(currentUser && user._id.equals(currentUser._id)) { %>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block"><%=user.average%></h5><small class="text-muted">Avg. Rating</small>
                        </li>
                        <% } %> 
                    </ul>
                </div>
                <div class="px-4 py-3">
                    <h6 class="my-1 font-weight-bold">About</h6>
                    <div class="py-3 pl-2 rounded shadow-sm bg-light">
                        <p class="text-dark mb-0"><%=user.bio%></p>
                    </div>
                </div>
                <nav>
                    <div class="nav nav-tabs mx-4" id="nav-tab" role="tablist">
                      <a class="nav-link active" id="ratings-tab" data-toggle="tab" href="#ratings" role="tab" aria-controls="ratings" aria-selected="true" data-toggle="tab" data-tab-history="true" data-tab-history-changer="push" data-tab-history-update-url="true">Ratings</a>
                      <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false" data-toggle="tab" data-tab-history="true" data-tab-history-changer="push" data-tab-history-update-url="true">Comments</a>
                      <% if(currentUser && user._id.equals(currentUser._id)) { %>
                      <a class="nav-link" id="bookmarks-tab" data-toggle="tab" href="#bookmarks" role="tab" aria-controls="bookmarks" aria-selected="false" data-tab-history="true" data-tab-history-changer="push" data-tab-history-update-url="true">Bookmarks</a>
                      <a class="nav-link" id="journals-tab" data-toggle="tab" href="#journals" role="tab" aria-controls="journals" aria-selected="false" data-tab-history="true" data-tab-history-changer="push" data-tab-history-update-url="true">Journals</a>
                      <% } %> 
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <%- include("../partials/userProfile/tabs/ratings") %>
                    <%- include("../partials/userProfile/tabs/comments") %>
                    <!-- AUTHORIZED TABS -->
                    <% if(currentUser && user._id.equals(currentUser._id)) { %> 
                    <%- include("../partials/userProfile/tabs/bookmarks")%>
                    <%- include("../partials/userProfile/tabs/journals")%>
                    <%} %> 
                </div>
            </div>
        </div>
    </div>
<%- include("../partials/userProfile/modals/editProfile") %>
<%- include("../partials/userProfile/modals/avatarPreview") %>
<%- include("../partials/userProfile/modals/editTodayAndYesterday") %>