<% layout("layouts/boilerplate")%>
    <div class="row py-5 px-4">
        <div class="col-md-5 mx-auto">
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 cover" style="background-color: #343a40">
                    <div class="media align-items-end" style="transform: translateY(6rem)">
                        <div class="mr-3">
                            <img src="<%=user.avatar.path%>" alt="" width="150" height="150" class="rounded my-3 img-thumbnail">
                            <% if(currentUser && user._id.equals(currentUser._id)) { %>
                            <a href="#" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a>
                            <% } %> 
                        </div>
                        <div class="media-body mb-5 text-white">
                            <h4 class="mt-0 mb-0">@<%=user.username%></h4>
                            <p class="small mb-4"> <i class="geo" style="font-size: 2rem; color: white"></i><img src="<%=user.country.flag%>"></p>
                        </div>
                    </div>
                </div>
                <div class="bg-light p-3 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">215</h5><small class="text-muted">Posts</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">745</h5><small class="text-muted">Followers</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">340</h5><small class="text-muted">Following</small>
                        </li>
                    </ul>
                </div>
                <div class="px-4 py-3">
                    <h5 class="my-1">About</h5>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <p class="font-italic mb-0">User bio goes here</p>
                    </div>
                </div>
                <div class="py-4 px-4">
                    <h5 class="mb-0">Recent posts</h5>
                    <%for (post of user.posts) { %> 
                        <div class="card mb-3 mt-1 pt-2 pl-2">
                            <div class="media pr-3">
                                <img src="<%=user.avatar.thumbnail%>" class="pr-2" alt="">
                                <div class="media-body">
                                    <p class="my-0"><%=post.date%>: <span class="star star<%=post.rating%>"></span></p>
                                    <p class="card-subtitle mb-1 text-muted">@<%=user.username%></p>
                                    <div class="text-wrap">
                                        <p class="my-0"><%=post.body%></p>
                                    </div>
                                    <% if(post.image) { %> 
                                        <div class="d-block">
                                            <img class="img-fluid" src="<%=post.image.fullsize%>" alt="">
                                        </div>
                                    <% } %> 
                                    <div class="d-inline">
                                        <small class="pb-1"><%=post.timestamp%></small>
                                        <% if(post.__v !== 0){ %>
                                        <small class="pb-1 text-muted">Edited</small>
                                        <% } %>
                                    </div>
                                    <div class="d-block">
                                        <small class="mr-3"><a href="/posts/<%=post._id%>" class="card-link">See more</a></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %> 
                </div>
            </div>
        </div>
    </div>