<% layout("layouts/boilerplate")%>

<div class="row py-3 px-4">
    <div class="col-md-8 col-lg-5 mx-auto">
        <form action="/posts/<%=post._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <h6 class="">Update: How was your day?</h6>
            <p class="">Current rating: <span class="star star<%=post.rating%>-result"></span></p>
            <div class="">
                <label class=""for="rating"></label>
                <fieldset class="rating d-block">
                <input type="radio" id="star5-edit" name="post[rating]" value=5 /><label class = "" for="star5" title="Amazing"></label>
                <input type="radio" id="star4-edit" name="post[rating]" value=4 /><label class = "" for="star4" title="Very good"></label>
                <input type="radio" id="star3-edit" name="post[rating]" value=3 /><label class = "" for="star3" title="Average"></label>
                <input type="radio" id="star2-edit" name="post[rating]" value=2 /><label class = "" for="star2" title="Not good"></label>
                <input type="radio" id="star1-edit" name="post[rating]" value=1 /><label class = "" for="star1" title="Terrible"></label>
                </fieldset>
                <div class="valid-feedback">Looks good!</div>
            </div>  
            <div class="mb-3">
                <label class="form-label" for="body">Jot down your thoughts or post an image:</label>
                <textarea class="form-control" rows="5"cols="22" type="text" name="post[body]" ><%=post.body%></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="image" name="image"  onchange="document.getElementById('preview').src = window.URL.createObjectURL(this.files[0])"
                <% if(post.image){ %>value="<%=post.image.filename%>"<% }%>>
                <label class="custom-file-label" for="customFile">Choose an image...</label>
            </div>
            <img class="img-fluid my-2" id="preview" width="100px"/> 
            <% if(post.image) { %> 
            <div >
                <label class="d-block" for="deleteImage">Delete Image?</label>
                <img class="img-fluid" src="<%=post.image.thumbnail%>" alt="">
                <input class="form-check-input" type="checkbox" name="deleteImage[]" value="<%=post.image.filename%>">
            </div>           
            <% }  %>  
            <div class="mb-3">
                <button type="submit" class="btn btn-warning">Update</button>
                <button type="button" class="btn btn-dark"><a href="/posts/<%=post._id%>"></a>Cancel</button>
            </div>
        </form>
    </div>
</div>

<%- include("../partials/new") %>
