<% layout("layouts/boilerplate")%>

<div class="container-fluid">
    <div class="row">
    <div class="col .d-xs-block"></div>
    <div class="col-5 border">
        <h5 class="text-left">All Posts</h5>
        <a class="" href="" data-toggle="modal" id="newPostLink" data-target="#newPostModal">Add Post</a>
        <%for (post of posts) { %> 
            <div class="card mb-3 mt-1 pt-2 pl-2">
                <div class="media pr-3">
                    <a href="/u/<%=post.author.username%>"><img src="<%=post.author.avatar.thumbnail%>" class="pr-2" alt=""></a>
                    <div class="media-body">
                        <p class="my-0"><%=post.date%>: <span class="star star<%=post.rating%>-result"></span></p>
                        <p class="card-subtitle mb-1 text-muted d-inline"><a href="/u/<%=post.author.username%>">@<%=post.author.username%></a>  <img class="d-inline" style="width: 17px" src="<%=post.author.country.flag%>" alt=""></p>
                        <div class="text-wrap">
                            <p><%=post.body%></p>
                        </div>
                        <% if(post.image) { %> 
                            <div class="d-block">
                                <img class="img-fluid" src="<%=post.image.fullsize%>" alt="">
                            </div>
                        <% } %> 
                        <div class="d-inline">
                            <small class="pb-1"><%=post.timestamp%></small>
                            <% if(post.__v !== 0){ %>
                            <small class="pb-1 text-muted">Edited</small>
                            <% } %>
                        </div>
                        <div class="d-block">
                            <small class="mr-3"><a href="/posts/<%=post._id%>" class="card-link">See more</a></small>
                            <small class=""><a href="/u/<%=post.author.username%>" class="card-link">Visit profile</a></small>
                        </div>
                    </div>
                </div>
            </div>
        <% } %> 
    </div>
    <div class="col .d-xs-block"></div>
    </div>   
</div>
