<% layout("layouts/boilerplate")%>

<div class="container-fluid mb-3">
    <div class="row py-3 px-4">
    <div class="col-md-8 col-lg-5 mx-auto bg-light">
       <%- include("../partials/paginate")%>
        <h5 class="text-left font-weight-bold mt-3">All Ratings</h5>
        <% if(posts.docs){ %>
            <%for (post of posts.docs) { %> 
                <div class="card mb-3 mt-1 pt-2 pl-2 pr-2 border-0">
                    <div class="media pr-3">
                        <a href="/u/<%=post.author.username%>"><img style="width:45px; border-radius: 50%" src="<%=post.author.avatar.thumbnail%>" class="pr-2" alt=""></a>
                        <div class="media-body text-wrap">
                            <div class="d-flex justify-content-between mt-2">
                                <p class="card-subtitle mb-1 d-inline"><strong><a href="/u/<%=post.author.username%>"><%=post.author.displayName%></a></strong>  <img class="d-inline" style="width: 17px" src="<%=post.author.country.flag%>" title="<%=post.author.country.name%>" alt=""><small class="text-muted mb-1 d-block">@<%=post.author.username%></small></p>
                                
                                <% if(user && post.author.equals(user._id)) { %> 
                                    <div class="btn-group" title="More" >
                                    <button class="btn btn-sm text-dark mb-1 pb-1 bg-light rounded-circle" data-toggle="dropdown" style="height: 30px; width: 30px">...</button>
                                    <div class="dropdown-menu dropdown-menu-lg-right">
                                        <% if(within24Hours(post) === true) { %>
                                        <button class="dropdown-item pl-2"><a href="" data-toggle="modal" id="editPostLink" data-target="#editPostModal" class="text-decoration-none"><i class="fas fa-edit text-warning"></i> Edit</a></button>
                                        <% } %> 
                                        <button class="dropdown-item pl-2 text-primary " data-toggle="modal" data-target="#deleteModal-<%=post._id%>"><a><i class="fas fa-trash-alt text-danger"></i><span class="text-light">_</span>Delete</a></button>
                                    </div>
                                    </div>
                                    <% } %>
                            </div>
                            <p class="mb-0"><span class="star star<%=post.rating%>-result"></span></p>
                            <div class="text-wrap">
                                <p class="mb-0"><%=post.body%></p>
                            </div>
                            <% if(post.image) { %> 
                                <a href="" data-toggle="modal" id ="imagePreviewLink-<%=post._id%>" data-target="#imagePreviewModal-<%=post._id%>">
                                    <img class="img-fluid" src="<%=post.image.fullsize%>" alt="">
                                </a>
                                <!-- image preview modal -->
                                <div>
                                    <div class="modal fade" id="imagePreviewModal-<%=post._id%>" tabindex="-1" aria-labelledby="imagePreviewModal-<%=post._id%>" aria-hidden="true" >
                                        <div class="modal-dialog modal-dialog-centered">
                                            <img src="<%=post.image.fullsize%>" alt="" class="">
                                        </div>
                                    </div>
                                </div>
                                <!-- ------------------------------ -->
                                
                            <% } %> 
                            <div class="d-flex justify-content-between">
                                <div>
                                <small class="pb-1"><a href="/posts/<%=post._id%>" class="card-link"><%=post.timestamp%></a></small>
                                <% if(post.edited){ %>
                                <small class="pb-1 text-muted" title="<%=post.updatedAt%>">Edited</small>
                                <% } %>
                                </div>
                                <div>
                                    <a href="/posts/<%=post._id%>" class="text-decoration-none mr-2 p-0" title="Comments"><span class="text-muted" style="font-size: 13px;"><%=post.comments.length%></span> <i class="fas fa-comments text-primary"></i></a>  

                                    <a  class="copy btn btn-sm btn-link " role="button"  title="Copy link"  ><i class="fas fa-link text-warning mr-2" onclick="navigator.clipboard.writeText(window.location.href.slice(0,21)+'/posts/<%=post._id%>')"></i></a>

                                    <% if(user.bookmarks.includes(post._id)) { %>
                                        <button class="btn btn-sm btn-link" title="Remove bookmark" data-toggle="modal" data-target="#bookmarkDeleteModal-<%=post._id%>"><i class="fas fa-bookmark text-danger"></i></button>

                                        <!-- bookmark delete modal -->
                                        <div class="modal fade" id="bookmarkDeleteModal-<%=post._id%>" tabindex="-1" aria-labelledby="bookmarkDeleteModalLabel-<%=post._id%>" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="bookmarkDeleteModalLabel-<%=post._id%>">Remove bookmark?</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                                                    <form class="d-inline" action="/posts/<%=post._id%>/bookmark?_method=DELETE" method="POST">
                                                        <button type="submit" class="btn btn-danger">Remove</button>
                                                    </form>
                                                </div>
                                            </div>
                                            </div>
                                        </div>

                                      <%} else { %> 
                                      <form action="/posts/<%=post._id%>/bookmark" method="POST" class="d-inline">
                                        <button class="btn btn-sm btn-link" title="Bookmark"><i class="far fa-bookmark text-danger mr-2"></i></button>
                                      </form>
                                      <% } %> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <%- include("../partials/postDelete") %>
                    <hr class="my-1">
                    <div class="media mt-1 mb-1 pl-2">
                        <a class="mr-1" href="/u/<%=user.username%>">
                        <img src="<%=user.avatar.thumbnail%>" alt="" class="border" style="width:40px; border-radius: 50%">
                        </a>
                        <div class="media-body">
                            <form action="/posts/<%=post._id %>/comments" class="validated-form mr-2" method="POST" novalidate>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="comment[body]" id="body" cols="15" rows="1" placeholder="Write a comment..." required>
                                    <div class="input-group-append" id="">
                                    <button class="btn btn-outline-warning" type="submit">Post</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <% } %> 
        <% } else { %>
            <h1 class="text-center">No posts yet!</h1>
        <% } %>
        </div>
    </div>
</div>