<% layout("layouts/boilerplate")%>
<div class="container-fluid mb-4">
    <h4 class="font-weight-bold mb-0 mt-4 ml-5">Search</h4>
    <div class="row px-4 mx-auto">
        <div class="col-md-3 col-lg-3">
            <div class="bg-light p-4">
                <%- include("../partials/search/searchFilter") %>
            </div>  
        </div>
        <div class="col-md-6 col-lg-6 bg-light overflow-auto" id="searchResults">
            <% if( posts && posts.docs){ %>
                <div class="d-flex justify-content-between">
                    <h5 class="text-left mt-3 mb-0">Results</h5>
                    <a href="#" class="small pt-3" onclick="myHilitor.remove(); this.classList.add('d-none')">Clear highlighting</a>
                </div>
                <span class="small text-muted mt-0"><%=docsFound %> ratings found </span> 
                <%- include("../partials/search/paginate")%>
                <%for (post of posts.docs) { %> 
                <%- include("../partials/posts/posts")%>
                <% } %> 
                <%- include("../partials/search/paginate")%>
            <% } else { %>
                <h5 class="text-left mt-3 mb-0">Results</h5>
                <span class="small text-muted mt-0">0 ratings found </span> 
                <p class="text-left mt-4">Submit the search form to find ratings.</p>
            <% } %>
        </div>
        <div class="col-md-3 col-lg-3">
            <%- include("../partials/sidebars/right/userPreview")%>
            <%- include("../partials/sidebars/right/myData")%>
            <%- include("../partials/sidebars/right/donateLinks")%>
            <%- include("../partials/sidebars/right/footer")%>
         </div>
    </div>
</div>

