<% layout("layouts/boilerplate")%>
<div class="container-fluid mb-4" style="padding-left: 100px; padding-right: 100px; padding-bottom: 100px">
    <h4 class="font-weight-bold mb-2 mt-4 ml-2">Search</h4>
    <div class="row">
        <div class="col">
            <div class="bg-light shadow-sm p-4">
                <%- include("../partials/search/searchFilter") %>
            </div>  
        </div>
        <div class="col-5 bg-light shadow overflow-auto mx-4" id="searchResults">
            <% if( posts && posts.docs){ %>
                <div class="d-flex justify-content-between">
                    <h5 class="text-left mt-3 mb-0">Results</h5>
                    <a href="#" class="small pt-3" onclick="myHilitor.remove(); this.classList.add('d-none')">Clear highlighting</a>
                </div>
                <span class="small text-muted mt-0"><%=docsFound %> ratings found </span> 
                <% if(query.rating || query.country) { %> 
                    <small class="text-muted d-block">Showing 
                        <% if(query.rating) { %> 
                            [<%=query.rating%>] star
                        <% } %> ratings
                            <% if(query.country) {%> 
                             from <%=query.country%>
                             <% } %> 
                            </small>
                    <% } %> 
                <%- include("../partials/search/paginate")%>
                <%for (post of posts.docs) { %> 
                <%- include("../partials/posts")%>
                <% } %> 
                <%- include("../partials/search/paginate")%>
            <% } else { %>
                <h5 class="text-left mt-3 mb-0">Results</h5>
                <span class="small text-muted mt-0">0 ratings found </span> 
                <p class="text-left mt-4">Submit the search form to find ratings.</p>
            <% } %>
        </div>
        <div class="col">
            <%- include("../partials/sidebars/right/userPreview")%>
            <div class="mt-5">
                <%- include("../partials/sidebars/right/donateLinks")%>
                <%- include("../partials/sidebars/right/footer")%>
            </div>
         </div>
    </div>
</div>  

