<% layout("layouts/boilerplate")%>

<div class="container-fluid">
  <div class="row">
  <div class="col"></div>
  <div class="col-5 border">
          <div class="card my-3 pt-2 pl-2 pr-2">
              <div class="media pr-3">
                  <a href="/u/<%=post.author.username%>"><img src="<%=post.author.avatar.thumbnail%>" class="pr-2" alt=""></a>
                  <div class="media-body">
                      <h6 class="card-subtitle mb-1 text-muted d-inline"><a href="/u/<%=post.author.username%>">@<%=post.author.username%></a>  <img class="d-inline" src="<%=post.author.country.flag%>" alt=""></h6>
                      <h6 class="my-0"><%=post.date%>: <%=post.rating%></h6>
                      <div class="text-wrap">
                        <p class="my-2"><%=post.body%></p>
                      </div>
                      <% if(post.image) { %> 
                        <img class="img-fluid d-block" src="<%=post.image.path%>" alt="">
                      <% } %> 
                      <div class="d-inline">
                        <button class="btn btn-link d-inline p-0"><a href="/posts/<%=post._id%>/edit">Edit</a></button>
                        <form class="d-inline" action="/posts/<%=post._id%>?_method=DELETE" method="POST">
                          <button class="btn btn-link d-inline p-0">Delete</button>
                        </form>
                      </div>

                      <div class="border-top border-bottom p-1 my-2">
                        <h6 class="mb-0">Comments</h6>
                      </div>
                      <% if (currentUser) {%> 
                        <div class="media mt-3 mb-1 pl-2">
                          <a class="mr-3" href="/u/<%=currentUser.username%>">
                            <img src="<%=currentUser.avatar.thumbnail%>" alt="">
                          </a>
                            <div class="media-body">
                              <form action="/posts/<%=post._id %>/comments" class="validated-form" method="POST" novalidate>
                                <textarea class="form-control" name="comment[body]" id="body" cols="15" rows="1" placeholder="Post a comment" required></textarea>
                                <div class="clearfix"><button class="btn btn-link btn-sm float-right">Submit</button></div>   
                              </form>
                            </div>
                            <% } %>
                        </div>
                      <div id="commentDiv">
                        <% for (let comment of post.comments) { %>
                          <hr class="my-2">
                            <div class="media mb-0 pl-2 pt-1">
                              <a class="mr-3" href="/u/<%=comment.author.username%>">
                                <img src="<%=comment.author.avatar.thumbnail%>" alt="">
                              </a>
                              <div class="media-body">
                                <h6 class="my-0 card-subtitle d-inline"><a href="/u/<%=comment.author.username%>">@<%=comment.author.username%></a>   <img class="d-inline" src="<%=comment.author.country.flag%>" alt=""></h6>
                                  <p class="my-1"><%=comment.body%></p>
                                  <small class="pb-2">Jan 12 9:03pm</small>
                                  <% if(currentUser && comment.author.equals(currentUser._id)) { %> 
                                  <div class="d-inline">
                                    <form class="d-inline" action="/posts/<%=post._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-link btn-sm d-inline pl-0">Delete</button>
                                    </form>
                                  </div>
                                <% } %> 
                              </div>
                            </div>                    
                          <% } %>
                      </div>

                  </div>
              </div>
          </div>
  </div>
  <div class="col"></div>
  </div>   
</div>



