<% layout("layouts/boilerplate")%>

<div class="container-fluid mb-4">
    <div class="row py-3 px-4">
    <div class="border bg-light mx-2 px-4 h-50">
        <h6 class="text-left mt-3"><a href="https://global-mind.org/gcpdot/">Real-time GCP Dot</a></h6>
        <iframe src="https://global-mind.org/gcpdot/gcp.html" height="48" width="48" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" ></iframe>
    </div>
    <div class="col-md-8 col-lg-5 mx-auto border bg-light">
        <h5 class="text-left font-weight-bold mt-3"><%=today%></h5>
        <div>
            <h6 class="text-left">10 random ratings from today <button type="button" class="btn btn-small d-inline" title="refresh for 10 more"><a href="/posts/today">🗘</button></h6>
            <% if(currentUser && (currentUser.postedToday === false)) {  %> 
            <a href="" data-toggle="modal" id="newPostLink" data-target="#newPostModal">Add Rating</a>
            <% } %> 
        </div>
        <% if(posts){ %>
            <%for (post of posts) { %> 
                <div class="card mb-3 mt-1 pt-2 pl-2">
                    <div class="media pr-3">
                        <a href="/u/<%=post.author.username%>"><img style="width:45px; border-radius: 50%" src="<%=post.author.avatar.thumbnail%>" class="pr-2" alt=""></a>
                        <div class="media-body">
                            <p class="card-subtitle mb-1 d-inline"><strong><a href="/u/<%=post.author.username%>"><%=post.author.displayName%></a></strong><span class="text-muted"> @<%=post.author.username%>  </span><img class="d-inline" style="width: 17px" src="<%=post.author.country.flag%>" alt=""></p>
                            <p><span class="star star<%=post.rating%>-result"></span></p>
                            <div class="text-wrap">
                                <p><%=post.body%></p>
                            </div>
                            <% if(post.image) { %> 
                                <div class="d-block">
                                    <img class="img-fluid" src="<%=post.image.fullsize%>" alt="">
                                </div>
                            <% } %> 
                            <div class="d-inline">
                                <small class="pb-1"><%=post.timestamp%></small>
                                <% if(post.edited){ %>
                                <small class="pb-1 text-muted">Edited</small>
                                <% } %>
                            </div>
                            <div class="d-block">
                                <small class="mr-3"><a href="/posts/<%=post._id%>" class="card-link">See more</a></small>
                                <small class=""><a href="/u/<%=post.author.username%>" class="card-link">Visit profile</a></small>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %> 
        <% } else { %>
            <h1 class="text-center">No posts yet!</h1>
        <% } %>
    </div> 
</div>

<%- include('../partials/edit')%>