<% layout("layouts/boilerplate")%>

<div class="container-fluid">
    <div class="row">
    <div class="col"></div>
    <div class="col-5 border">
        <h5 class="text-left">Today's Posts</h5>
        <a href="/posts/new">Add Post</a>
        <%for (post of posts) { %> 
            <div class="card mb-3 mt-1 pt-2 pl-2">
                <div class="media pr-3">
                    <img src="/images/defaultAvatar.png" class="pr-2" alt="">
                    <div class="media-body">
                        <h6 class="my-0"><%=post.rating%></h5>
                        <p class="card-subtitle mb-1 text-muted"><%=post.author.username%></p>
                        <p class="my-0"><%=post.body%></p>
                        <% if(post.image) { %> 
                            <img class="img-fluid" src="<%=post.image.path%>" alt="">
                        <% } %> 
                        <div class="d-block">
                            <small class="mr-3"><a href="/posts/<%=post._id%>" class="card-link">Read comments</a></small>
                            <small class=""><a href="/u/<%=post.author.username%>" class="card-link">Visit profile</a></small>
                        </div>
                    </div>
                </div>
            </div>
            <% } %> 
    </div>
    <div class="col"></div>
    </div>   
</div>
