<% layout("layouts/boilerplate")%>
<div class="container-fluid ml-3 my-3 px-5 pt-1" style="line-height:20px; padding-bottom: 5vh">
   <h4 class="text-centered font-weight-bold pt-0 pb-1">@<%=user.username%>'s Data</h4>
   <div class="mb-0">
      <a href="/data" class="small">Today's Data |</a>
      <a href="/data/all" class="small">All Data</a>
   </div>
   <div class="row my-4 d-flex justify-content-around">
       <div class="d-flex justify-content-around">
            <div class="col-sm">
                <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="250" height="250" src="https://charts.mongodb.com/charts-todai-fevei/embed/charts?id=e822dab6-5603-40f4-b95f-bf677559ee8c&theme=light&filter={'authorUsername':'<%=user.username%>','date':'<%=today%>'}"></iframe>
            </div>
            <div class="col-sm ">
                <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="250" height="250" src="https://charts.mongodb.com/charts-todai-fevei/embed/charts?id=590bc492-d062-44a2-8f69-f0916fb6fa4f&theme=light&filter={'authorUsername':'<%=user.username%>'}"></iframe>
            </div>
            <div class="col-sm ">
                <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="250" height="250" src="https://charts.mongodb.com/charts-todai-fevei/embed/charts?id=671a6f8d-8b73-4d1a-8f69-9c6c5462325c&theme=light&filter={'authorUsername':'<%=user.username%>'}"></iframe>
            </div>
            <div class="col-sm">
                <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="250" height="250" src="https://charts.mongodb.com/charts-todai-fevei/embed/charts?id=7f4cfe42-ca41-4ad8-9813-49ada3fc61dc&theme=light&filter={'authorUsername':'<%=user.username%>'}"></iframe>
            </div>
            <div class="col-sm ">
                <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="250" height="250" src="https://charts.mongodb.com/charts-todai-fevei/embed/charts?id=32aa6180-f28e-4b46-bc8f-c6bc3b28d570&theme=light&filter={'username':'<%=user.username%>'}"></iframe>
            </div>
       </div>
    </div>
    <div class="row mb-4 ">
        <div class="col-sm mt-3">
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="400" height="350" src="https://charts.mongodb.com/charts-todai-fevei/embed/charts?id=3e56620a-ac24-464e-9793-3f5065281e6f&autoRefresh=300&theme=light&filter={'authorUsername':'<%=user.username%>'}"></iframe>
        </div>
        <div class="col-sm mt-3">
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="400" height="350" src="https://charts.mongodb.com/charts-todai-fevei/embed/charts?id=6a242e47-3cd5-4e76-bf01-b84e09f79fc7&theme=light&filter={'authorUsername':'<%=user.username%>'}"></iframe>
        </div>
        <div class="col-sm mt-3">
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="400" height="350" src="https://charts.mongodb.com/charts-todai-fevei/embed/charts?id=660cd833-bf1c-443f-9ee2-103ee7d4cb98&theme=light&filter={'authorUsername':'<%=user.username%>'}"></iframe>
        </div>
        <div class="col-sm mt-3">
            <iframe id="last" style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="400" height="350" src="https://charts.mongodb.com/charts-todai-fevei/embed/charts?id=bf813e4f-506b-46e3-a5b6-b2f61d8608da&autoRefresh=300&theme=light&filter={'username':'<%=user.username%>'}"></iframe>
        </div>
   </div>
 </div>

