<% layout("layouts/boilerplate")%>
<div class="container-fluid ml-3 my-3 px-5 pt-1" style="line-height:20px">
   <h4 class="text-centered font-weight-bold pt-0 pb-1"><%=longToday%></h4>
   <div class="mb-0">
      <a href="/data/all" class="small">All Data |</a>
      <a href="/data/me" class="small">My Data</a>
   </div>
   <p class="text-danger mb-0 small">Disclaimer: These charts are based on randomly generated data.</p>
   <div class="accordion p-1 mt-2 " id="filtersAccordion" style="width:42%">
      <div class="card border-0 shadow-sm bg-light">
          <div class="card-header p-0 bg-light" id="showFilters">
              <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#filters" aria-expanded="true" aria-controls="collapseOne">
                    Show Filters
                  </button>
                </h2>
          </div>
          <div id="filters" class="collapse px-3 pt-3" aria-labelledby="showFilters" data-parent="#filtersAccordion">  
              <form action="/data" method="GET" class="mb-3">
               <div class="form-row mb-3">
                  <!-- <div class="col input-group">
                     <label for="date" class="input-group-text border-0"><i class="far fa-calendar-alt text-primary"></i></label>
                     <input  disabled type="date" name="date" id="date" class="form-control border-0">
                  </div> -->
                  <div class="col input-group">
                     <div class="input-group-prepend border-right">
                        <label class="input-group-text border-0" for="countryName"><i class="fas fa-globe-americas text-primary"></i></label>
                      </div>
                      <select class="custom-select text-muted border-0" id="countryName" name="country" >
                          <option value="" class="text-muted">Country</option> 
                          <%  for (let country of countries) {%>
                              <option value="<%=country["name"]%>" <%= query.country && query.country.includes(country["name"]) ? 'selected' : '' %> ><%=country["name"]%></option>
                          <%}%>        
                      </select>
                  </div>
               </div>
                  <div class="form-row mb-3 ">
                      <div class="col input-group">
                        <div class="input-group-prepend">
                           <label class="input-group-text border-0" for="ageGroup"><i class="fas fa-birthday-cake text-primary"></i></label>
                         </div>
                         <select class="custom-select text-muted border-0" id="ageGroup" name="ageGroup" >
                            <option value="">Age Group</option>
                            <option value="Greatest Generation" <%= query.ageGroup && query.ageGroup == "Greatest Generation" ? 'selected' : '' %>>Greatest Generation (1901-1927)</option>
                            <option value="Silent Generation" <%= query.ageGroup && query.ageGroup == "Silent Generation" ? 'selected' : '' %>>Silent Generation (1928-1945)</option>
                            <option value="Baby Boomers" <%= query.ageGroup && query.ageGroup == "Baby Boomers" ? 'selected' : '' %>>Baby Boomers (1946-1964)</option>
                            <option value="Gen X" <%= query.ageGroup && query.ageGroup == "Gen X" ? 'selected' : '' %>>Gen X (1965-1980)</option>
                            <option value="Millennials" <%= query.ageGroup && query.ageGroup == "Millennials" ? 'selected' : '' %>>Millennials (1981-1996)</option>
                            <option value="Gen Z" <%= query.ageGroup && query.ageGroup == "Gen Z" ? 'selected' : '' %>>Gen Z (1997-2012)</option>     
                         </select>
                      </div>
                      <div class="col input-group">
                        <div class="input-group-prepend">
                           <label class="input-group-text border-0" for="gender"><i class="fas fa-venus-mars text-primary"></i></label>
                         </div>
                         <select class="custom-select text-muted border-0" id="gender" name="gender" >
                            <option value="">Gender</option>
                            <option value="male" <%= query.gender && query.gender == "male" ? 'selected' : '' %>>male</option>
                            <option value="female" <%= query.gender && query.gender == "female" ? 'selected' : '' %>>female</option>     
                         </select>
                      </div>
                  </div>
                  <button class="btn btn-sm btn-warning mb-2" type="submit" id="submit" >Filter Data</button>
              </form>
      </div>
      </div>
  </div>
   <div class="row mb-3">
     <div class="col-sm  p-4 m-2">
      <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="525" height="394" src="https://charts.mongodb.com/charts-todai-fevei/embed/charts?id=b82528a0-adaa-4f23-9621-e572b80c25e4&theme=light&filter=<%=JSON.stringify(dbQuery)%>"></iframe>
     </div>
     <div class="col-sm p-4 m-2">
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="525" height="394" src="https://charts.mongodb.com/charts-todai-fevei/embed/charts?id=dab42b0e-905e-459c-951b-6a8dde5b28ed&theme=light&filter=<%=JSON.stringify(dbQuery)%>"></iframe>
     </div>
     <div class="col-sm p-4 m-2" title="<%=user.country.name%>">
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="525" height="394" src="https://charts.mongodb.com/charts-todai-fevei/embed/charts?id=9bcf696d-d0ab-4a34-8e56-d5c976347c85&theme=light&filter={'date':'<%=today%>', 'authorCountry':'<%=escapedCountry%>'<%if(dbQuery['authorGender']){%>,'authorGender': '<%=dbQuery['authorGender']%>'<%}%><%if(dbQuery['authorAgeGroup']){%>,'authorAgeGroup': '<%=dbQuery['authorAgeGroup']%>'<%}%>}"></iframe>
        <p class="text-muted small">Showing data for: <%=user.country.name%></p>
     </div>
   </div>
   <div class="row mb-4">
          <iframe class="ml-5" style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="1720" height="500" src="https://charts.mongodb.com/charts-todai-fevei/embed/charts?id=24c74dab-b794-4f89-b9aa-23a0564a8aaa&theme=light&filter=<%=JSON.stringify(dbQuery)%>"></iframe>
   </div>
   <div class="row mb-3">
     <div class="col-sm  p-4 m-2">
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="525" height="394" src="https://charts.mongodb.com/charts-todai-fevei/embed/charts?id=0ae29aff-b511-4cdf-a83a-1f7fdea5e4af&theme=light&filter=<%=JSON.stringify(dbQuery)%>"></iframe>
     </div>
     <div class="col-sm p-4 m-2">
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="525" height="394" src="https://charts.mongodb.com/charts-todai-fevei/embed/charts?id=3d402d54-0338-46ff-ae2f-400d23fbed7a&theme=light&filter=<%=JSON.stringify(dbQuery)%>"></iframe>
     </div>
     <div class="col-sm  p-4 m-2">
      <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="525" height="394" src="https://charts.mongodb.com/charts-todai-fevei/embed/charts?id=6cefcd4d-caef-4025-9446-9ddbf2c3a6e9&theme=light&filter=<%=JSON.stringify(dbQuery)%>"></iframe>
     </div>
   </div>
 </div>