<div class="tab-pane fade mb-3 pt-2" id="nav-comments" role="tabpanel" aria-labelledby="nav-comments-tab">
    <% if(!comments.length) { %>
    <h6 class="text-center my-5">No comments yet!</h6>
    <% } else {%> 
    <% for (let comment of comments) { %>
    <div class="media mb-0 mt-2 mx-4 pl-2 pt-1">
        <a class="mr-3" href="/u/<%=user.username%>">
            <img src="<%=user.avatar.thumbnail%>" alt="" style="width:45px; border-radius: 50%">
        </a>
        <div class="media-body">
            <p class="card-subtitle mt-1"><strong><a href="/u/<%=user.username%>"><%=user.displayName%></a></strong>  <img class="d-inline" style="width: 17px" src="<%=user.country.flag%>" alt="" title="<%=user.country.name %>"><small class="text-muted mb-0 d-block">@<%=user.username%></small></p>
            <% if(comment.post) {%> 
            <p class="my-1">
                <a href="/posts/<%=comment.post._id%>"class="card-link" >@<%=comment.post.author.username%></a> <%=comment.body%>
            </p>
            <% } else { %> 
            <p class="my-1">@[deleted] <%=comment.body%></p>
            <% }%>
            <small class="pb-1"><%=comment.timestamp%></small>
            <% if(currentUser && comment.author.equals(currentUser._id)) { %> 
            <button class="btn btn-link btn-sm d-inline pb-0" title="Delete comment" data-toggle="modal" data-target="#commentDeleteModal-<%=comment._id%>"><i class="fas fa-trash-alt text-danger"></i></button>
            <!-- COMMENT DELETE MODAL - START -->
            <div>
                <div class="modal fade" id="commentDeleteModal-<%=comment._id%>" tabindex="-1" aria-labelledby="commentDeleteModalLabel-<%=comment._id%>" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="commentDeleteModalLabel">Delete comment?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                                <% if(comment.post) { %> 
                                <form class="d-inline" action="/posts/<%=comment.post._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                <% } else { %> 
                                <form class="d-inline" action="/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                <% } %> 
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- COMMENT DELETE MODAL - END -->
            <% } %> 
        </div>
    </div> 
    <hr class="my-1 mx-4">                   
    <% }} %>
</div>