<div class="tab-pane fade" id="nav-journals" role="tabpanel" aria-labelledby="nav-journals-tab">
    <% if(!user.journals.length) {%> 
    <div class="text-center">
        <h6 class="text-center mt-5">No journals yet!</h6>
        <button class="btn btn-outline btn-warning mb-5 mt-3" type="button"><a href="/write" class="text-dark">Write</a></button>
    </div>
    <% } else { %> 
    <div class="accordion mx-4 mt-1 mb-3" id="journalsAccordion">
        <button class="btn btn-link pl-0" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="">Expand/Collapse All</button>
        <% let index= 0; %> 
        <% for (let journal of user.journals) { %> 
        <% index++ %> 
        <div class="card">
            <div class="card-header" id="heading-<%=index%>">
                <h6 class="mb-0">
                    <a class="text-dark text-monospace text-decoration-underline" href="/write/<%=journal._id%>"><%=journal.date%></a>
                    <button class="btn btn-link text-warning ml-1 p-0" type="button" data-toggle="collapse" data-target="#journal-<%=index%>" aria-expanded="false" aria-controls="journal-<%=index%>"><i class="fas fa-caret-down"></i></button>
                </h6>
            </div>
            <div id="journal-<%=index%>" class="collapse multi-collapse" aria-labelledby="heading-<%=index%>"  >
                <div class="card-body">
                    <% if(journal.edited = true) { %> 
                    <small><%journal.editedTime%></small>
                    <% } %> 
                    <p class="text-monospace"><%= journal.body %></p>
                </div>
            </div>
        </div>
        <% } %> 
    </div>
    <% } %>
</div>